<template>
    <div class="center-wrap">
        <div class="login-center">
            <div class="login-left">
                <img src="@/assets/image/loginLeft.png" />
            </div>
            <div class="login-right">
                <div class="login-right-center">
                    <el-form ref="ruleFormRef" :model="formData" :rules="rules" label-position="top" hide-required-asterisk class="d-flex">
                        <el-form-item label="账号" prop="mobile">
                            <el-input v-model="formData.mobile" maxlength="11" placeholder="请输入手机号" />
                        </el-form-item>
                        <el-form-item label="密码" prop="password">
                            <el-input v-model="formData.password" type="password" show-password placeholder="请输入密码" />
                        </el-form-item>
                    </el-form>
                    <div class="login-bottom">
                        <div>
                            <el-text>新用户</el-text>
                            <el-text class="forgetPassword pointer" type="primary" @click="routerPath('/personal/register')">注册</el-text>
                        </div>
                        <div>
                            <el-text class="forgetPassword pointer" type="primary" @click="routerPath('/modifyPassword')">忘记密码?</el-text>
                        </div>
                    </div>
                </div>
                <el-button type="primary" :loading="isLoading" round class="btn-style" @keydown.enter="keyDown()" @click="submitForm(ruleFormRef)"> 登录 </el-button>
            </div>
        </div>
    </div>
</template>

<script setup>
import { login } from '@/api/login'
import { ref, reactive, onMounted, onUnmounted } from 'vue'
import { useRouter } from 'vue-router'
import { usePersistStore } from '@/store/persist.js'
import CryptoJS from 'crypto-js'

const storePersist = usePersistStore()
const router = useRouter()
const ruleFormRef = ref()
const rules = reactive({
    mobile: [{ required: true, message: '请输入账号', trigger: 'blur' }],
    password: [{ required: true, message: '请输入密码', trigger: 'blur' }]
})

let formData = reactive({
    mobile: '',
    password: '',
    loginType: 1 // 1表示普通用户登陆, 2表示管理员登陆
})
let passwordMd5 = ref('')

let isLoading = ref(false)

const submitForm = async (formEl) => {
    if (!formEl) return
    isLoading.value = true
    await formEl.validate(async (valid) => {
        if (valid) {
            // ----AES加密开始-----
            const key = CryptoJS.enc.Utf8.parse('wYDJty8o8HE6YjJS')
            const iv = CryptoJS.enc.Utf8.parse('SC35fdGrQozSMT5a')
            const ciphertext = CryptoJS.AES.encrypt(formData.password, key, {
                iv: iv,
                mode: CryptoJS.mode.CFB,
                padding: CryptoJS.pad.NoPadding
            })
            passwordMd5.value = ciphertext.toString()
            // ----AES加密结束-----
            try {
                const res = await login({ mobile: formData.mobile, loginType: formData.loginType, password: passwordMd5.value })
                isLoading.value = false
                if (res) {
                    storePersist.menusList = res.menus
                    storePersist.userInfo = res.userInfo
                    storePersist.token = res.token
                    sessionStorage.setItem('AI_TOKEN', res.token)
                    sessionStorage.setItem('AI_INFO', JSON.stringify(res.userInfo))
                    if (formData.loginType === 1) router.replace('/')
                    else router.replace('/manageSystem')
                }
            } catch {
                isLoading.value = false
            }
        } else isLoading.value = false
    })
}

const keyDown = (e) => {
    //如果是回车则执行登录方法
    if (e.keyCode == 13) submitForm(ruleFormRef.value)
}

onMounted(() => {
    window.addEventListener('keydown', keyDown)
})

onUnmounted(() => {
    window.removeEventListener('keydown', keyDown, false)
})
// 路由跳转
const routerPath = (path) => {
    router.push(path)
}
</script>

<style scoped>
.center-wrap {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.d-flex {
    margin: 0px 0 25px;
}

.btn-style {
    width: 120px;
}

.forgetPassword {
    margin-top: 30px;
}

.login-center {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0px 2px 8px #898686;
}

.login-left {
    width: 60%;
}

.login-left img {
    width: 100%;
    display: block;
}
.login-right {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.login-right-center {
    width: 50%;
    margin: auto;
}

.login-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 35px;
}
.sign-in {
    color: #555;
}
.el-radio-group {
    display: flex;
}
.radio-button-type {
    width: 50%;
}
</style>
