<template>
    <el-form ref="ruleFormRef" :model="ruleForm" :rules="rules" label-width="120px" class="demo-ruleForm" :size="formSize" status-icon>
        <el-form-item label="手机号" prop="mobile">
            <el-input v-model="ruleForm.mobile" :disabled="info ? true : false" placeholder="请输入手机号" maxlength="11" />
        </el-form-item>
        <el-form-item label="真实姓名" prop="realName">
            <el-input v-model="ruleForm.realName" :disabled="info ? true : false" placeholder="请输入真实姓名" />
        </el-form-item>
        <el-form-item label="重置密码" prop="password">
            <el-input v-model="ruleForm.password" type="password" placeholder="请输入密码" show-password maxlength="30" />
        </el-form-item>
        <el-form-item label="二次确认密码" prop="confirmPassword">
            <el-input v-model="ruleForm.confirmPassword" type="password" placeholder="请再次输入密码" show-password maxlength="30" />
        </el-form-item>
        <el-form-item>
            <el-button v-if="info" type="primary" class="resetPass" @click="resetSubmit()">确认重置</el-button>
            <el-button v-else type="primary" class="resetPass" @click="resetForm(ruleFormRef)">提交</el-button>
        </el-form-item>
    </el-form>
</template>

<script setup>
import { onMounted, reactive, ref } from 'vue'
import { useRouter } from 'vue-router'
import { ElMessageBox, ElMessage } from 'element-plus'
import { resetPassword } from '@/api/user/index'
import { validateMobile, validateRealName, validatePass } from '@/assets/scripts/form.js'

const router = useRouter()

const ruleFormRef = ref()

let ruleForm = ref({
    mobile: '',
    realName: '',
    password: '',
    confirmPassword: ''
})

// 第二次输入密码校验
const validatePass2 = (rule, value, callback) => {
    const pwdRegex = /[\u4e00-\u9fa5]+/
    const chReg = /[·！#￥（——）：；“”‘、，|《。》？、【】[\]]/im
    if (value === '') callback(new Error('请二次确认密码'))
    else if (pwdRegex.test(value) || chReg.test(value)) callback(new Error('密码中不能存在中文及中文特殊字符, 且至少1个字符, 最多30个字符'))
    else if (value !== ruleForm.value.password) callback(new Error('两次密码不一致'))
    else callback()
}

// 表单校验
const rules = reactive({
    mobile: [{ required: true, validator: validateMobile, trigger: 'blur' }],
    realName: [{ required: true, validator: validateRealName, trigger: 'blur' }],
    password: [{ required: true, validator: validatePass, trigger: 'blur' }],
    confirmPassword: [{ required: true, validator: validatePass2, trigger: 'blur' }]
})
// 获取缓存中的手机号, 和真实姓名
const info = JSON.parse(sessionStorage.getItem('AI_INFO'))
onMounted(() => {
    if (info) {
        ruleForm.value.mobile = info.mobile
        ruleForm.value.realName = info.realName
    }
})
// 提交密码
const resetForm = (formEl) => {
    if (!formEl) return
    formEl.validate(async (valid) => {
        if (valid) {
            console.log('submit!')
            ElMessageBox.confirm('确定要重置密码吗?', '提示', {
                confirmButtonText: '是',
                cancelButtonText: '否',
                type: 'warning'
            }).then(() => {
                submitInfo()
            })
        } else {
            console.log('error submit!')
            return false
        }
    })
}
// 重置密码
const resetSubmit = () => {
    const pwdRegex = /[\u4e00-\u9fa5]+/
    const chReg = /[·！#￥（——）：；“”‘、，|《。》？、【】[\]]/
    console.log(ruleForm)
    if (ruleForm.value.password === '' || ruleForm.value.confirmPassword === '')
        ElMessage({
            message: '请输入密码',
            type: 'error'
        })
    else if (pwdRegex.test(ruleForm.value.password) || pwdRegex.test(ruleForm.value.password) || pwdRegex.test(ruleForm.value.confirmPassword) || chReg.test(ruleForm.value.confirmPassword))
        ElMessage({
            message: '密码中不能存在中文及中文特殊字符, 且至少1个字符, 最多30个字符',
            type: 'error'
        })
    else if (ruleForm.value.password !== ruleForm.value.confirmPassword)
        ElMessage({
            message: '两次密码不一致',
            type: 'error'
        })
    else
        ElMessageBox.confirm('确定要重置密码吗?', '提示', {
            confirmButtonText: '是',
            cancelButtonText: '否',
            type: 'warning'
        }).then(() => {
            submitInfo()
        })
}
// 提交信息
const submitInfo = async () => {
    const res = await resetPassword(ruleForm.value)
    if (res)
        ElMessage({
            message: '重置密码成功，请重新登录',
            type: 'success',
            onClose: () => {
                sessionStorage.clear()
                router.replace('/login')
            }
        })
}
</script>

<style scoped>
.demo-ruleForm {
    width: 50%;
    margin: 50px auto auto;
}
</style>
