<template>
    <div class="register-container">
        <el-form ref="ruleFormRef" :model="ruleForm" :rules="rules" label-width="120px" class="demo-ruleForm" :size="formSize" status-icon>
            <div class="font30 register-title">新账号注册</div>
            <el-text type="danger" class="register-tips">本产品为内测产品，当前仅获得邀请码的用户可以注册</el-text>
            <el-form-item label="邀请码" prop="invitationCode">
                <el-input v-model="ruleForm.invitationCode" placeholder="请输入邀请码" />
            </el-form-item>

            <el-divider></el-divider>
            <div class="register-remark font18">账号信息</div>
            <el-form-item label="用户名" prop="userName">
                <el-input v-model="ruleForm.userName" placeholder="请输入用户名" />
            </el-form-item>
            <el-form-item label="密码" prop="password">
                <el-input v-model="ruleForm.password" type="password" show-password placeholder="请输入密码" />
            </el-form-item>
            <el-form-item label="确认密码" prop="confirmPassword">
                <el-input v-model="ruleForm.confirmPassword" type="password" show-password placeholder="请再次确认密码" />
            </el-form-item>

            <el-divider></el-divider>
            <div class="register-remark font18">实名信息</div>
            <el-form-item label="真实姓名" prop="realName">
                <el-input v-model="ruleForm.realName" placeholder="请输入真实姓名" />
            </el-form-item>
            <el-form-item label="绑定手机号" prop="mobile">
                <el-input v-model="ruleForm.mobile" placeholder="请输入手机号" />
            </el-form-item>

            <el-button type="primary" @click="submitForm(ruleFormRef)"> 注册 </el-button>
        </el-form>
    </div>
</template>

<script setup>
import { reactive, ref } from 'vue'
import { useRouter } from 'vue-router'
import { registryUser } from '@/api/user/index'
import { ElMessage } from 'element-plus'
import { validateMobile, validateRealName, validatePass } from '@/assets/scripts/form.js'

const router = useRouter()

const formSize = ref('default')
const ruleFormRef = ref()
let ruleForm = ref({
    invitationCode: '',
    userName: '',
    password: '',
    confirmPassword: '',
    realName: '',
    mobile: ''
})

// 第二次输入密码校验
const validatePass2 = (rule, value, callback) => {
    const pwdRegex = /[\u4e00-\u9fa5]+/
    const chReg = /[·！#￥（——）：；“”‘、，|《。》？、【】[\]]/im
    if (value === '') callback(new Error('请二次确认密码'))
    else if (pwdRegex.test(value) || chReg.test(value)) callback(new Error('密码中不能存在中文及中文特殊字符, 且至少1个字符, 最多30个字符'))
    else if (value !== ruleForm.value.password) callback(new Error('两次密码不一致'))
    else callback()
}

// 表单规则
const rules = reactive({
    invitationCode: [{ required: true, message: '请输入邀请码', trigger: 'blur' }],
    userName: [{ required: true, message: '请输入姓名', trigger: 'blur' }],
    password: [{ required: true, validator: validatePass, trigger: 'blur' }],
    confirmPassword: [{ required: true, validator: validatePass2, trigger: 'blur' }],
    realName: [{ required: true, validator: validateRealName, trigger: 'blur' }],
    mobile: [{ required: true, validator: validateMobile, trigger: 'blur' }]
})

const submitForm = async (formEl) => {
    console.log(ruleForm.value)
    if (!formEl) return
    await formEl.validate(async (valid, fields) => {
        if (valid) {
            console.log('submit')
            const res = await registryUser(ruleForm.value)
            if (res)
                ElMessage({
                    message: '注册成功',
                    type: 'success',
                    onClose: () => {
                        router.replace('/login')
                    }
                })
        } else console.log('error submit!', fields)
    })
}
</script>

<style>
.register-container {
    width: 30%;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 10%;
    left: 35%;
}
.register-title {
}
.register-remark {
    margin-bottom: 15px;
}
.register-tips {
    margin: 40px 0 20px;
    display: block;
}
</style>
