<template class="basicInfoContainer">
    <el-descriptions title="基本信息" :column="1" class="basicInfo">
        <el-descriptions-item label="用户名">{{ information.userName }}</el-descriptions-item>
        <el-descriptions-item label="真实姓名">{{ information.realName }}</el-descriptions-item>
        <el-descriptions-item label="用户等级">{{ information.roleName }}</el-descriptions-item>
    </el-descriptions>

    <el-descriptions title="账号安全" :column="1" class="basicInfo">
        <el-descriptions-item label="绑定手机号">
            <template v-if="information.mobile">
                <span>{{ information.mobile.slice(0, 3) }}</span>
                ****
                <span>{{ information.mobile.slice(8, 11) }}</span>
            </template>
            <template v-else>
                <el-tag size="small" class="modify" @click="bindMobile()">去绑定手机号</el-tag>
            </template>
        </el-descriptions-item>
        <el-descriptions-item label="密码"><el-tag size="small" class="modify" @click="modifyPassword(information.id)">修改密码</el-tag></el-descriptions-item>
    </el-descriptions>

    <div class="margin-style">
        <el-button type="primary" class="basicButton" @click="loginOutFun()">退出登录</el-button>
    </div>
</template>

<script setup>
import { useRouter } from 'vue-router'
import { baseUserInfoById } from '@/api/user/index'
import { loginOut } from '@/api/login/index'
import { onMounted, ref } from 'vue'
import { ElMessageBox, ElMessage } from 'element-plus'

const router = useRouter()
let information = ref({})

onMounted(() => {
    baseUserInfo()
})

// 获取用户基本信息
const baseUserInfo = async () => {
    const res = await baseUserInfoById()
    if (res) {
        console.log(res)
        information.value = res
    }
}

// 退出登录
const loginOutFun = () => {
    ElMessageBox.confirm('确定退出登录吗?', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
    }).then(async () => {
        const res = await loginOut()
        if (res)
            ElMessage({
                message: '退出登录成功',
                type: 'success',
                onClose: () => {
                    sessionStorage.clear()
                    localStorage.clear()
                    router.replace('/login')
                }
            })
    })
}

// 修改密码
const modifyPassword = () => {
    router.push('/modifyPassword')
}

// 绑定手机号
const bindMobile = () => {
    // 用于以后优化做
}
</script>

<style scoped>
.basicInfoContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
}
.basicInfo {
    border: 1px solid #ccc;
    padding: 15px;
    width: 50%;
    margin: 20px auto;
}
.basicButton {
    margin-top: 35px;
}
.modify {
    cursor: pointer;
}
.margin-style {
    text-align: center;
}
</style>
