<template>
    <el-row class="manage-container">
        <el-col :span="3">
            <el-menu :default-active="activeRouter" class="el-menu-vertical-demo" router>
                <el-menu-item v-for="item in assetRouter" :key="item.name" :index="item.path">
                    <el-icon></el-icon>
                    <span>{{ item.name }}</span>
                </el-menu-item>
            </el-menu>
        </el-col>
        <el-col :span="21" class="container-router">
            <router-view></router-view>
        </el-col>
    </el-row>
</template>

<script setup>
import { computed, ref } from 'vue'
import { useRoute } from 'vue-router'
const route = useRoute()

const assetRouter = ref([
    {
        path: '/assetManage/square',
        name: '资产广场'
    },
    {
        path: '/assetManage/uploadAsset',
        name: '上传资产'
    },
    {
        path: '/assetManage/styleTraining',
        name: '风格训练'
    },
    {
        path: '/assetManage/myAssets',
        name: '我的资产'
    }
])
// 监听路由，对应具体menu栏目
const activeRouter = computed(() => route.path)
</script>

<style scoped>
.el-menu {
    height: calc(100vh - 60px);
}
.container-router {
    padding: 20px 20px;
}
</style>
