<template>
    <div class="assetSquare">
        <el-checkbox-group v-model="assetTag" @change="tagChange">
            <el-checkbox-button v-for="item in assetArray" :key="item.id" :label="item.id">{{ item.name }}</el-checkbox-button>
        </el-checkbox-group>

        <el-radio-group v-model="assetOrder" style="margin: 20px 0" @change="findReleaseListFun">
            <el-radio :label="1" border>按创建时间</el-radio>
            <el-radio :label="2" border>按收藏数量</el-radio>
        </el-radio-group>
        <div v-if="assetList.length > 0" id="container_scorll" class="assetSquare-ul container_scorll" @scroll="Scroll">
            <MyAssetsCard v-for="item in assetList" :key="item.id" :section="item" active-name="1" @on-updating="onUpdating" @click="myAssetsCardClick(item)" />
        </div>
        <el-empty v-else description="暂时没有数据" />
        <AssetsDetilePop ref="assetsDetilePop" @on-updating="onUpdating" />
    </div>
</template>

<script setup>
import { onMounted, ref } from 'vue'
import { findAssetPublicList, findAssetTypeOrTag } from '@/api/assetManage/index'
import MyAssetsCard from '@/component/myAssetsCard.vue'
import AssetsDetilePop from '@/component/assetsDetilePop.vue'

let assetList = ref([])
const assetArray = ref([])
let assetTag = ref([])
let assetOrder = ref(1)

const assetsDetilePop = ref(null)
const myAssetsCardClick = (item) => {
    assetsDetilePop.value.dialogTableVisibleTrue(item)
}
onMounted(() => {
    // 获得资产标签和资产广场的数据
    getAssetTag()
})

// 获取资产标签
const getAssetTag = async () => {
    const res = await findAssetTypeOrTag({ code: 3 })
    if (res) {
        assetArray.value = res
        findReleaseListFun()
    }
}

const findReleaseListFun = async () => {
    let res = await findAssetPublicList({ assetTagList: assetTag.value, order: assetOrder.value })
    res.filter((item) => (item.ifShow = true))
    assetList.value = res
}
// 切换标签
const tagChange = (val) => {
    console.log(val)
    assetTag.value = val
    findReleaseListFun()
}
// 收藏后刷新数据
const onUpdating = () => {
    findReleaseListFun()
}
</script>

<style scoped>
/* CSS瀑布流开始 */
.container_scorll {
    /* margin: 10px; */
    height: 85vh;
    overflow-y: auto;
}
::-webkit-scrollbar {
    display: none;
}
.assetSquare-ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
.my-assets-card {
    margin-right: 10px;
}
/* CSS瀑布流结束 */
.blod {
    font-weight: bold;
}
.assetSquare-title {
    text-align: center;
    margin: 60px 0;
    font-size: 20px;
}
.mask-info {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    display: flex;
    padding: 0 10px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 10px 15px;
}
.useAnyway {
    text-align: center;
}
.author {
    font-size: 10px;
}

.absoluteButton {
    position: absolute;
    top: 2.9vw;
    right: 3vw;
}
.demo-tabs > .el-tabs__content {
    padding: 32px;
    color: #6b778c;
    font-size: 32px;
    font-weight: 600;
}
.assetBottom {
    display: flex;
}
.assetType {
    margin-top: 10px;
}
.el-checkbox-button {
    margin-right: 20px;
}
</style>
