<template>
    <div class="style-training">
        <div v-if="trainingInProgress" class="masking-out">
            <el-card class="box-card">
                <el-icon><SuccessFilled style="color: #67c23a" /></el-icon>
                <div>
                    <p>风格模型训练已开始，请耐心等待</p>
                    <p>
                        可在
                        <el-button
                            type="primary"
                            link
                            @click="
                                () => {
                                    router.push('/assetManage/myAssets')
                                }
                            ">
                            我的资产-我训练的
                        </el-button>
                        页面查看
                    </p>
                </div>
            </el-card>
        </div>
        <el-form :inline="true" :model="formInline" class="demo-form-inline">
            <el-form-item label="风格名称">
                <el-input v-model="formInline.styleName" placeholder="风格名称" clearable />
            </el-form-item>
            <el-form-item label="基础模式">
                <el-select v-model="formInline.assetId.labels" placeholder="风格名称" @click="dialogVisible = true">
                    <el-option label="" value="" />
                </el-select>
                <!-- <el-cascader v-model="formInline.assetId" placeholder="选择基础模式" :options="options" :show-all-levels="false" :props="{ expandTrigger: 'hover', emitPath: false }" /> -->
            </el-form-item>
        </el-form>
        <el-dialog v-model="dialogVisible" title="" width="70%" class="spec-dialog">
            <MyAssets v-if="dialogVisible" :is-select="true" :asset-type="1" @confirm-selection-emit="confirmSelectionEmit" />
        </el-dialog>
        <div class="el-image-list">
            <div v-for="(item, index) in formInline.imageUrlList" :key="item" class="image-masking-out-box">
                <el-button class="image-masking-close" type="danger" size="small" :icon="Close" circle @click="imageClose(index)" />
                <el-image style="width: 146px; height: 146px" :src="item" fit="cover" />
            </div>
        </div>
        <el-upload class="upload-demo" style="margin-top: 10px" drag :action="action" multiple :on-success="onUploadSuccess">
            <el-icon class="el-icon--upload"><upload-filled /></el-icon>
            <div class="el-upload__text" style="display: flex; justify-content: center; align-items: center">
                将图片拖到此处，或 <em>点击上传</em>
                <el-tooltip class="box-item" effect="dark" placement="top-start">
                    <template #content>
                        【图片类型】： 同一人物、画风、物体、材质、姿势等 <br />
                        【图片数量】： 8-80张之间,图片数量越多效果越好<br />
                        【图片大小】： 建议分辨率在512x512像素以上<br />
                        【图片内容】： 建议保持主体一致，避免主体元素过小<br />
                        【隐私保护】： 未经用户允许不会投放广场
                    </template>
                    <el-icon size="18" style="margin-left: 5px"><InfoFilled /></el-icon>
                </el-tooltip>
            </div>
            <template #file></template>
        </el-upload>
        <el-collapse style="margin-top: 30px">
            <el-collapse-item title="高级选项" name="1">
                <el-form :inline="true" :model="formInline" label-position="left" label-width="140px" class="demo-form-inline">
                    <el-form-item label="迭代步数">
                        <el-slider v-model="formInline.advancedOptions.steps" :min="500" :max="1500" style="width: 180px" />
                        <span style="margin-left: 20px">{{ formInline.advancedOptions.steps }}</span>
                    </el-form-item>
                    <el-form-item label="噪声偏移">
                        <el-input v-model="formInline.advancedOptions.noiseOffset" type="number" placeholder="风格名称" />
                    </el-form-item>
                    <br />
                    <el-form-item label="学习率">
                        <el-select v-model="formInline.advancedOptions.learningRate" placeholder="Select">
                            <el-option v-for="item in optionsLearningRate" :key="item.value" :label="item.label" :value="item.label" />
                        </el-select>
                    </el-form-item>
                    <el-form-item label="最小信噪比值">
                        <el-input v-model="formInline.advancedOptions.minSnrGamma" type="number" placeholder="风格名称" />
                    </el-form-item>
                    <br />
                    <el-form-item label="仅训练 U-Net">
                        <el-radio-group v-model="formInline.advancedOptions.trainUnetOnly">
                            <el-radio :label="true" size="large">是</el-radio>
                            <el-radio :label="false" size="large">否</el-radio>
                        </el-radio-group>
                    </el-form-item>
                    <br />
                    <el-form-item label="仅训练 ⽂本编码器">
                        <el-radio-group v-model="formInline.advancedOptions.trainTextEncoderOnly">
                            <el-radio :label="true" size="large">是</el-radio>
                            <el-radio :label="false" size="large">否</el-radio>
                        </el-radio-group>
                    </el-form-item>
                    <br />
                    <el-form-item label="图片裁切方式">
                        <el-radio-group v-model="formInline.advancedOptions.picCutType">
                            <el-radio :label="1" size="large">中央裁切</el-radio>
                            <el-radio :label="2" size="large">压缩裁切</el-radio>
                        </el-radio-group>
                    </el-form-item>
                    <br />
                    <el-form-item label="图片大小">
                        <el-slider v-model="formInline.advancedOptions.picSize" :min="64" :max="1024" :step="64" style="width: 200px" />
                        <span style="margin-left: 20px">{{ formInline.advancedOptions.picSize }}</span>
                    </el-form-item>
                </el-form>
                <el-button class="restore-default-options" text @click="restoreDefaultOptions">恢复默认选项</el-button>
            </el-collapse-item>
        </el-collapse>
        <div style="display: flex; align-items: center; margin-top: 30px">
            <el-button type="primary" @click="startedTraining">开始训练</el-button>
            <span v-if="errorText !== ''" style="font-size: 14px; color: #f56c6c; margin-left: 16px">{{ errorText }}</span>
        </div>
    </div>
</template>

<script setup>
import { ref, reactive, onMounted } from 'vue'
import { findOwnOrCollect } from '@/api/assetManage/index.js'
import { ElMessage } from 'element-plus'
import { Close } from '@element-plus/icons-vue'
import { styleAddStyleTrain, styleCheckTrainStatus } from '@/api/styleTraining/index.js'
import MyAssets from '@/component/myAssets.vue'
import { useRouter } from 'vue-router'
const router = useRouter()

onMounted(() => {
    judeStyleCheckTrainStatus()
})
const trainingInProgress = ref(false)
const judeStyleCheckTrainStatus = async () => {
    const res = await styleCheckTrainStatus()
    trainingInProgress.value = res
}
const imageClose = (index) => {
    formInline.imageUrlList.splice(index, 1)
}
const dialogVisible = ref(false)
const confirmSelectionEmit = async (value) => {
    // 选择模型 发送消息
    dialogVisible.value = false
    formInline.assetId = {
        values: value.id,
        labels: value.assetName
    }
}
const formInline = reactive({
    assetId: '', // 基础模型id
    advancedOptions: {
        steps: 1000, //迭代步数
        noiseOffset: 0.1, //噪声偏移
        learningRate: '1e-4',
        minSnrGamma: 0, //最小信噪比值
        trainUnetOnly: false, //仅训练 U-Net
        trainTextEncoderOnly: false, //仅训练 文本编码器
        picCutType: 1, //图片裁切方法
        picSize: 512 // 图片大小
    },
    imageUrlList: []
})
const action = ref(`${import.meta.env.VITE_BASE_API}/obs/file/obsUpload`)
const options = ref([])
const optionsLearningRate = [
    {
        value: '1e-6',
        label: '1e-6'
    },
    {
        value: '1e-5',
        label: '1e-5'
    },
    {
        value: '5e-5',
        label: '5e-5'
    },
    {
        value: '1e-4',
        label: '1e-4'
    },
    {
        value: '2e-4',
        label: '2e-4'
    }
]
const processingContent = (datas, name) => {
    let temporaryFields = {
        value: name,
        label: name,
        children: []
    }
    datas.map((item) => {
        temporaryFields.children.push({
            value: item.id,
            label: item.assetName
        })
    })
    return temporaryFields
}
const getFindOwnOrCollect = async () => {
    // 加载我的收藏和我的上传
    options.value.push(
        processingContent(
            await findOwnOrCollect({
                type: 1,
                assetType: 2
            }),
            '我的收藏'
        )
    )
    options.value.push(
        processingContent(
            await findOwnOrCollect({
                type: 2,
                assetType: 2
            }),
            '我上传的'
        )
    )
}
getFindOwnOrCollect()
const onUploadSuccess = (res, data) => {
    if (!res || !res.model) {
        ElMessage({
            message: `${data.name}上传失败`,
            type: 'error'
        })
        return
    }
    if (formInline.imageUrlList.length >= 80) {
        ElMessage({
            message: `${data.name}上传失败, 上传图片不得超过80张`,
            type: 'error'
        })
        return
    }
    formInline.imageUrlList.push(res.model)
}
const restoreDefaultOptions = () => {
    formInline.advancedOptions = {
        steps: 1000, //迭代步数
        noiseOffset: 0.1, //噪声偏移
        learningRate: '1e-4',
        minSnrGamma: 0, //最小信噪比值
        trainUnetOnly: false, //仅训练 U-Net
        trainTextEncoderOnly: false, //仅训练 文本编码器
        picCutType: 1, //图片裁切方法
        picSize: 512 // 图片大小
    }
}
function isValidString(str) {
    // 判断字符串长度是否超过30个字符
    if (str.length > 30) {
        return false
    }
    // 判断是否只包含特殊字符或空格
    const specialChars = '/[]:;|=,+*?<> '
    const trimmedStr = str.trim()
    if (trimmedStr.length === 0 || specialChars.includes(trimmedStr)) {
        return false
    }
    return true
}
const errorText = ref('')
const startedTraining = async () => {
    errorText.value = ''
    if (!formInline.styleName) {
        errorText.value = '风格名称不可以为空'
    } else if (!isValidString(formInline.styleName)) {
        errorText.value = `风格名称最多包含30个字,不能包含"/[]:;|=,+*?<>，不能只有符号或空格哦`
    } else if (!formInline.assetId) {
        errorText.value = '基础模式不能为空'
    } else if (formInline.imageUrlList.length < 8) {
        errorText.value = '请上传至少8张图片'
    }
    if (errorText.value !== '') {
        return
    }
    let formInlineDeep = deepCopy(formInline)
    formInlineDeep.advancedOptions = JSON.stringify(formInline.advancedOptions)
    formInlineDeep.assetId = formInline.assetId.values
    try {
        await styleAddStyleTrain(formInlineDeep)
        trainingInProgress.value = true
    } catch (error) {
        errorText.value = error.errorMessage
    }
}
function deepCopy(obj) {
    if (typeof obj !== 'object' || obj === null) {
        return obj // 返回非对象类型和 null 的值
    }
    let copy
    if (Array.isArray(obj)) {
        copy = []
        for (let i = 0; i < obj.length; i++) {
            copy[i] = deepCopy(obj[i])
        }
    } else {
        copy = {}
        for (let key in obj) {
            if (Object.prototype.hasOwnProperty.call(obj, key)) {
                copy[key] = deepCopy(obj[key])
            }
        }
    }
    return copy
}
</script>

<style lang="scss">
.style-training {
    position: relative;
    .masking-out {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
        padding: 20px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        .box-card {
            width: 400px;
        }
        .el-card__body {
            display: flex;
            justify-content: center;
        }
        .el-icon {
            font-size: 40px;
            margin-right: 20px;
        }
    }
    .el-upload-list__item-info {
        margin: 6px 0;
    }
    .el-upload-list__item.is-success {
        display: none;
    }
    .el-dialog {
        margin-top: 20px;
    }
    // 高级选项
    .el-collapse {
        position: relative;
        .restore-default-options {
            position: absolute;
            bottom: 20px;
            right: 20px;
        }
        .el-collapse-item__wrap {
            padding: 10px;
            box-sizing: border-box;
            background-color: #f1f1f1 !important;
        }
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none !important;
        margin: 0;
    }
    input[type='number'] {
        appearance: textfield;
        -moz-appearance: textfield;
    }
    .el-image-list {
        max-height: 400px;
        overflow-y: auto;
        padding-top: 10px;
    }
    .image-masking-out-box {
        position: relative;
        display: inline-block;
        margin: 0 8px 8px 0;
        width: 146px;
        height: 146px;

        .image-masking-close {
            display: none;
            position: absolute;
            top: -5px;
            right: -5px;
            z-index: 1;
        }
        &:hover {
            .image-masking-close {
                display: block;
            }
        }
    }
    .el-dialog__body {
        padding-top: 10px;
        height: calc(100vh - 200px);
        overflow: auto;
    }
}
</style>
