<template>
    <div class="uploadAsset-container">
        <el-form ref="ruleFormRef" v-loading="formLoading" :model="ruleForm" label-width="120px">
            <el-form-item label="资产名" prop="assetName">
                <el-input v-model="ruleForm.assetName" placeholder="请输入资产名" :disabled="isEditTheOperation" />
            </el-form-item>
            <el-form-item label="资产类型" prop="assetType">
                <el-radio-group v-model="ruleForm.assetType" @change="assetTypeChange">
                    <el-radio v-for="item in assetTypeArray" :key="item.id" :label="item.id" :disabled="isDisabled || isEditTheOperation">{{ item.name }}</el-radio>
                </el-radio-group>
            </el-form-item>
            <el-form-item label="资产风格标签" prop="assetTagList">
                <el-checkbox-group v-model="ruleForm.assetTagList" @change="assetTagChange">
                    <el-checkbox v-for="item in assetTagArray" :key="item.id" :label="item.id" :disabled="false">{{ item.name }}</el-checkbox>
                </el-checkbox-group>
            </el-form-item>
            <el-form-item v-if="isEditTheOperation" label="资产文件上传" prop="fileUrl">
                {{ ruleForm.fileUrl.split('/').reverse()[0] }}
            </el-form-item>
            <el-form-item v-else label="资产文件上传" prop="fileUrl">
                <WebUpload :upload-suffix-url="uploadSuffixUrl" :options="options" :file-list-data="fileListData" @return-file="(url) => getfile(url)" @asset-type-fun="assetTypeFun"> </WebUpload>
            </el-form-item>
            <el-form-item label="资产封面图" prop="assetCover">
                <UploadImage :is-disabled="false" :img-url="ruleForm.assetCover" @get-image="(url) => getImageUrl(url)"> </UploadImage>
            </el-form-item>
            <el-form-item label="描述" prop="content">
                <Wangeditor ref="wangeditorRef" :asset-detail="ruleForm.assetDetail" />
            </el-form-item>
            <el-form-item>
                <el-button type="primary" :disabled="isDisabled" @click="onSubmit(ruleFormRef)">{{ isEditTheOperation ? '修改资产' : '创建资产' }} </el-button>
            </el-form-item>
        </el-form>
    </div>
</template>
<script setup>
import { onMounted, ref, onUnmounted } from 'vue'
import UploadImage from '@/component/table/uploadImage.vue'
import WebUpload from '@/component/table/webUpload.vue'
import Wangeditor from '@/component/wangeditor.vue'
import { findAssetTypeOrTag, addAsset, updateAsset } from '@/api/assetManage/index'
import { ElMessage } from 'element-plus'
import { throttle } from '@/assets/scripts/util.js'
import { useRouter } from 'vue-router'
import { useContentStore } from '@/store/index.js'
const contentStore = useContentStore()
const router = useRouter()
// const isEditDisabled = ref([])
const uploadSuffixUrl = ref(import.meta.env.VITE_BASE_PY_WEBUPLOAD)
const fileListData = ref([])
const ruleFormRef = ref()
const options = ref({
    fileType: 'ckpt,pth,safetensors',
    fileUploadUrl: '/bigfile/upload', //上传地址
    fileCheckUrl: '/bigfile/check', //检测文件是否存在url
    checkChunkUrl: '/bigfile/check', //检测分片url
    mergeChunksUrl: '/bigfile/merge',
    fileCheckUNameUrl: '/bigfile/name/check',
    headers: {
        'Content-Type': 'application/json'
    } //合并文件请求地址
})

let ruleForm = ref({
    assetName: '',
    assetType: 0, // 资产类型; 1:模型, 2:LoRA
    assetTagList: [], //资产标签; 1:动漫, 2:写实, 3:油画
    fileUrl: '', // 文件url
    assetCover: '',
    assetDetail: ''
})
let assetTypeArray = ref([])
let assetTagArray = ref([])
let formLoading = ref(false)
let isDisabled = ref(false)

const isEditTheOperation = ref(false)
onMounted(() => {
    getAssetType()
    getAssetTag()
    if (contentStore.editAssetObject) {
        isEditTheOperation.value = true
        ruleForm.value = contentStore.editAssetObject
        ruleForm.value.assetTagList = contentStore.editAssetObject.assetTag.split(',').map(Number)
    }
})
// 获取资产类型
const getAssetType = async () => {
    const res = await findAssetTypeOrTag({ code: 2 })
    if (res) {
        ruleForm.value.assetType = res[0].id
        options.value.fileType = 'ckpt,pth,safetensors'
        assetTypeArray.value = res
    }
}
// 获取资产标签
const getAssetTag = async () => {
    const res = await findAssetTypeOrTag({ code: 3 })
    if (res) {
        ruleForm.value.assetTagList[0] = res[0].id
        assetTagArray.value = res
    }
}
// 资产类型
const assetTypeChange = (val) => {
    ruleForm.value.assetType = val
    if (val === 1) options.value.fileType = 'ckpt,pth,safetensors'
    else options.value.fileType = 'ckpt,pt,bin,pth,safetensors'
}
// 资产标签
const assetTagChange = (val) => {
    ruleForm.value.assetTagList = val
}
// 获取资产封面图路径
const getImageUrl = (url) => {
    ruleForm.value.assetCover = url
}

const getfile = (url) => {
    console.log(url)
    ruleForm.value.fileUrl = url
}
const wangeditorRef = ref(null)
const onSubmit = () => {
    if (isEditTheOperation.value) {
        onEditPost()
        return
    }
    throttle(async () => {
        if (ruleForm.value.assetName == '' || ruleForm.value.assetTagList.length == 0 || ruleForm.value.fileUrl == '' || ruleForm.value.assetCover == '') {
            ElMessage({
                message: '资料未填写完成，请继续填写',
                type: 'error'
            })
        } else if (wangeditorRef.value.outputDetailsHtml() == '<p><br></p>') {
            ElMessage({
                message: '资产详情不能为空',
                type: 'error'
            })
        } else if (!isDisabled.value) {
            // 表单提交 loading显示
            formLoading.value = true
            // 发布任务后，禁用发布按钮的使用
            isDisabled.value = true
            ruleForm.value.assetDetail = wangeditorRef.value.outputDetailsHtml()
            const res = await addAsset(ruleForm.value)
            if (res) {
                ElMessage({
                    message: '创建资产成功',
                    type: 'success',
                    onClose: () => {
                        fileListData.value = []
                        isDisabled.value = false
                        router.replace('/assetManage/myAssets')
                    }
                })
                formLoading.value = false
            } else {
                formLoading.value = false
                isDisabled.value = false
            }
        }
    }, 800)()
}
const onEditPost = async () => {
    ruleForm.value.assetId = ruleForm.value.id
    ruleForm.value.assetDetail = wangeditorRef.value.outputDetailsHtml()
    await updateAsset(ruleForm.value)
    ElMessage({
        message: '修改资产成功',
        type: 'success',
        onClose: () => {
            router.replace('/assetManage/myAssets')
        }
    })
    contentStore.editAssetObject = null
}
onUnmounted(() => {
    contentStore.editAssetObject = null
})
// 上传文件时，不能选择类型
const assetTypeFun = (res) => {
    isDisabled.value = res
}
</script>

<style scoped>
.el-form {
    padding: 10px;
}
</style>
