* {
    margin: 0;
    padding: 0;
    font-family: arial;
}
.font12 {
    font-size: 12px;
}
.font14 {
    font-size: 14px;
}
.font16 {
    font-size: 16px;
}
.font18 {
    font-size: 18px;
}
.font20 {
    font-size: 20px;
}

.font24 {
    font-size: 24px;
}

.font30 {
    font-size: 30px;
}

.blod {
    font-weight: bold;
}
.pointer {
    cursor: pointer;
}
/* 登录处, 增加loginType 样式 */
.radio-button-type .el-radio-button__inner {
    display: block;
}
.assetSquare .el-checkbox-button__inner {
    border-radius: 5px !important;
    border: 1px solid #ddd;
}

.avatar-uploader .el-upload {
    border: 1px solid #ddd;
    border-radius: 10px;
}
.image-list_container {
    .el-radio__input {
        position: absolute;
        top: 6px;
        right: 6px;
        z-index: 111;
    }
    .el-radio--large {
        width: 24%;
        height: 200px !important;
        margin-bottom: 10px;
        margin-right: 1%;
    }
    .el-radio__label {
        width: 100%;
        height: 100%;
    }
    .el-image {
        width: 100%;
        height: 100%;
    }
    .el-radio.el-radio--large .el-radio__inner {
        width: 18px;
        height: 18px;
    }
    .image-list_context {
        .el-radio-group {
            width: 100%;
        }
    }
}
