<template>
    <el-container>
        <el-header v-if="menusList.length > 0">
            <el-menu ref="elMenus" :default-active="route.path" class="el-header-menu" mode="horizontal" :ellipsis="false" router>
                <img src="/logo.png" class="logo-img" @click="() => router.push('/')" />
                <div class="flex-grow" />
                <el-menu-item v-for="item in menusList" :key="item.router" :index="item.router" @click="router.push(item.router)">
                    <span>{{ item.displayName }}</span>
                    <svg v-if="item.router === '/helpFile'" style="margin-left: 5px" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" width="1.2em" height="1.2em" class="link-icon">
                        <path fill="currentColor" d="M10 6v2H5v11h11v-5h2v6a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h6zm11-3v8h-2V6.413l-7.793 7.794l-1.414-1.414L17.585 5H13V3h8z"></path>
                    </svg>
                    <a
                        v-if="item.router === '/helpFile'"
                        class="help-file"
                        target="_blank"
                        href="https://x1dheadhb1d.feishu.cn/wiki/space/7241101371875803139?ccm_open_type=lark_wiki_spaceLink"
                        @click.stop></a>
                </el-menu-item>
            </el-menu>
        </el-header>
        <el-main>
            <router-view v-slot="{ Component }">
                <transition name="out-in">
                    <component :is="Component" />
                </transition>
            </router-view>
        </el-main>
    </el-container>
</template>

<script setup>
import { computed } from 'vue'
import { useRouter, useRoute } from 'vue-router'
import { usePersistStore } from '@/store/persist.js'
const storePersist = usePersistStore()
const router = useRouter()
const route = useRoute()
const menusList = computed(() => storePersist.menusList)
</script>

<style scoped lang="scss">
.el-header {
    padding: 0;
}
.el-header-menu {
    padding: 0px 20px;
}
.el-main {
    padding: 0;
}

.flex-grow {
    flex-grow: 1;
}
.logo-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}
.el-menu--horizontal {
    align-items: center;
}
.el-menu-item {
    position: relative;
    .help-file {
        position: absolute;
        width: 100%;
        height: 100%;
    }
}
</style>
