<template>
    <div class="common-layout">
        <el-row :gutter="20">
            <!-- ---------------------------任务列表开始--------------------------------- -->
            <el-col :span="6" class="taskContent">
                <el-text tag="b">任务列表</el-text>
                <ul v-if="taskList.length > 0" class="task-list-ul">
                    <li v-for="(item, key) in taskList" :key="item.completeImageUrl" class="task-list-li">
                        <el-progress :stroke-width="15" :percentage="item.progress" :text-inside="true" :status="item.progress == 100 ? 'success' : 'warning'" @click="seeTask(item, key)">
                        </el-progress>
                        <!-- <template v-if="item.isComplete">
                            <el-popconfirm
                                width="220"
                                confirm-button-text="是"
                                cancel-button-text="否"
                                :icon="InfoFilled"
                                icon-color="#626AEF"
                                title="确认要删除任务嘛？"
                                @confirm="delButton(item, key)">
                                <template #reference>
                                    <el-text class="mx-1" type="danger">删除</el-text>
                                </template>
                            </el-popconfirm>
                        </template> -->
                    </li>
                </ul>
                <template v-else>
                    <el-empty v-if="isTaskProgress" description="任务正在生成中，请稍等" />
                    <el-empty v-else description="暂时没有任务" />
                </template>
            </el-col>
            <!-- ---------------------------任务列表结束--------------------------------- -->

            <!-- ---------------------------新建任务开始--------------------------------- -->
            <el-col :span="12" class="taskContent">
                <el-text tag="b">上传任务</el-text>

                <el-form ref="ruleFormRef" v-loading="formLoading" :model="form" :rules="rules" label-width="120px" status-icon class="task-form">
                    <!-- 图片 LoadImage -->
                    <template v-if="formList.LoadImage">
                        <el-form-item v-for="(items, index) in formList.LoadImage" :key="index" :label="items.nodeName" prop="uploadImage">
                            <el-upload
                                ref="uploadRef"
                                v-loading="items.loading"
                                :disabled="isDisabled"
                                :limit="1"
                                :show-file-list="false"
                                list-type="picture"
                                :http-request="(file) => uploadSectionFile(file, index)"
                                class="avatar-uploader"
                                accept=".jpg,.jpeg,.png,.JPG,.JPEG">
                                <img v-if="items.nodeValue" :src="items.nodeValue" class="avatar" />
                                <el-icon v-else class="avatar-uploader-icon"><Plus /></el-icon>
                            </el-upload>
                        </el-form-item>
                    </template>
                    <!-- 记事本 -->
                    <template v-if="formList.Note">
                        <el-form-item v-for="(item, index) in formList.Note" :key="index" :label="item.nodeName">
                            <el-input v-model="item.nodeValue" placeholder="请输入记事本" type="textarea" :rows="2" :disabled="isDisabled" />
                        </el-form-item>
                    </template>
                    <!-- 文本型 -->
                    <template v-if="formList.CLIPTextEncode">
                        <el-form-item v-for="(item, index) in formList.CLIPTextEncode" :key="index" :label="item.nodeName">
                            <el-input v-model="item.nodeValue" :disabled="isDisabled" placeholder="请输入英文文本" />
                        </el-form-item>
                    </template>
                    <!-- 文本型 -->
                    <template v-if="formList.UIInputStringNode">
                        <el-form-item v-for="(item, index) in formList.UIInputStringNode" :key="index + '-' + taskIndexInsert" :label="item.nodeName">
                            <el-input v-model="item.nodeValue" :disabled="isDisabled" placeholder="请输入文本" />
                        </el-form-item>
                    </template>
                    <!-- 多行文本 -->
                    <template v-if="formList.UIInputMultilineStringNode">
                        <el-form-item v-for="(item, index) in formList.UIInputMultilineStringNode" :key="index" :label="item.nodeName">
                            <el-input v-model="item.nodeValue" :rows="3" type="textarea" placeholder="请输入多行文本" :disabled="isDisabled" />
                        </el-form-item>
                    </template>
                    <!-- 整数型 -->
                    <template v-if="formList.UIInputIntegerNode">
                        <el-form-item v-for="(item, index) in formList.UIInputIntegerNode" :key="index" :label="item.nodeName">
                            <el-input-number v-model="item.nodeValue" class="mx-4" controls-position="right" :disabled="isDisabled" placeholder="请输入整数" @change="handleChange" />
                        </el-form-item>
                    </template>
                    <!-- 浮点型 -->
                    <template v-if="formList.UIInputFloatNode">
                        <el-form-item v-for="(item, index) in formList.UIInputFloatNode" :key="index" :label="item.nodeName">
                            <el-input-number v-model="item.nodeValue" class="mx-4" controls-position="right" :step="0.1" aria-placeholder="请输入小数" :disabled="isDisabled" @change="handleChange" />
                        </el-form-item>
                    </template>
                    <el-form-item>
                        <el-button type="primary" :disabled="isDisabled" :loading="isDisabled" @click="onSubmit()">生成任务</el-button>
                    </el-form-item>
                </el-form>
            </el-col>
            <!-- ---------------------------新建任务结束--------------------------------- -->

            <!-- ---------------------------任务生成图片开始------------------------------ -->
            <el-col :span="6" class="taskContent">
                <el-text tag="b">生成记录</el-text>
                <div class="imgList">
                    <template v-if="completeImageUrl">
                        <el-space wrap>
                            <el-image
                                v-for="(item, index) in completeImageUrl"
                                :key="item"
                                style="width: 100px; height: 100px"
                                :src="completeImageUrl[index]"
                                :zoom-rate="1.2"
                                :preview-src-list="completeImageUrl"
                                :initial-index="index"
                                :hide-on-click-modal="true"
                                :close-on-press-escape="true"
                                :lazy="true"
                                :alt="item"
                                fit="cover" />
                        </el-space>
                    </template>
                    <el-empty v-else description="未选择一条生成纪录，选择生成纪录查看对应生成图片" />
                </div>
            </el-col>
            <!-- ---------------------------任务生成图片结束--------------------------------->
        </el-row>
    </div>
</template>

<script setup>
/* eslint-disable */
import { useRouter } from 'vue-router'
import { ref, onMounted, onBeforeMount, onUnmounted } from 'vue'
import { ElMessage } from 'element-plus'
import socket from '@/assets/scripts/sock.js'
import { getNodeFlowDetail, taskRun, fileObsUpload } from '@/api/blueprint/list'
import { GenNonDuplicateID, throttle } from '@/assets/scripts/util.js'
import { InfoFilled } from '@element-plus/icons-vue'
import { usePersistStore } from '@/store/persist.js'
const storePersist = usePersistStore()

const uploadRef = ref()

const ruleFormRef = ref()

const router = useRouter()

// 节点流程图唯一标识id
const id = router.currentRoute.value.query.id

// ---------------------------获取节点流控制变量详情开始---------------------------------
let formList = ref({})
let taskIndexInsert = ref(0)
onMounted(() => {
    const task = storePersist.taskObj
    taskIndexInsert.value = task.taskList?.length || 0
    if (Object.getOwnPropertyNames(task).length > 0) {
        getTask()
    } else {
        generate_userId()
    }
})

// 生成用户userid
const generate_userId = () => {
    if (!sessionStorage.getItem('AI_USERID')) {
        // 存储用户id标识
        const userId = GenNonDuplicateID(10)
        sessionStorage.setItem('AI_USERID', userId)
    }
    _getNodeFlowDetail()
}

// 获取节点流控制变量详情数据
const _getNodeFlowDetail = async () => {
    let info = await getNodeFlowDetail({ id: id })

    if (info) {
        // 上传图片时，增加loading
        info.LoadImage.filter((item) => (item.loading = false))
        formList.value = info
        formListCopy.value = info
    }
}
// ---------------------------获取节点流控制变量详情结束---------------------------------

// ---------------------------任务列表开始---------------------------------
let taskList = ref([]) // 任务列表数据
let socket_index = ref(-1) // 进行到第几个任务列表
let completeImageUrl = ref('') // 是否点击任务列表, 生成的任务链接
let isClickUrl = ref(false) // 任务链接
let isTaskProgress = ref(false) // 点击任务按钮后，到任务列表内显示，中间所间隔的时间，isTaskProgress 来控制显示的内容
let taskFormList = ref([]) // 上传任务时，存储表单内容
let formListCopy = ref({})
// 任务生成图片
const seeTask = (item, index) => {
    taskIndexInsert.value = index
    isClickUrl.value = true
    let url = item.completeImageUrl
    imageUrlArray(url)
    formList.value = JSON.parse(JSON.stringify(taskFormList.value[index]))
}

// 生成图片字符串变数组
const imageUrlArray = (url) => {
    if (url && url.includes(',')) completeImageUrl.value = url.split(',')
    else if (url) completeImageUrl.value = [url]
    else completeImageUrl.value = ''
}

// 删除任务 (websocket 进度执行完成后，才可以删除)
const delButton = (item, index) => {
    if (isDisabled.value) {
        ElMessage({
            message: '正在上传任务，请稍后操作',
            type: 'warning'
        })
        return
    }
    if (item.isComplete) {
        taskList.value.splice(index, 1)
        taskFormList.value.splice(index, 1)

        isClickUrl.value = false
        socket_index.value--
        // 删除任意任务后，获取最新的一条任务，作为生成记录
        if (taskList.value.length > 0) {
            const img = taskList.value[taskList.value.length - 1].completeImageUrl
            imageUrlArray(img)
            formList.value = taskFormList.value[taskFormList.value.length - 1]
            // 存储用户存储的任务及生成的记录
            storePersist.taskObj = {
                taskList: taskList.value,
                taskRecord: completeImageUrl.value,
                taskIndex: socket_index.value,
                taskFormList: taskFormList.value
            }
        } else {
            completeImageUrl.value = ''
            storePersist.taskObj = {}
            generate_userId()
        }
    }
}

// 读取用户存储的任务及生成的记录
const getTask = () => {
    const task = storePersist.taskObj
    taskList.value = task.taskList
    completeImageUrl.value = task.taskRecord
    socket_index.value = task.taskIndex
    formList.value = task.taskFormList[task.taskIndex]
    taskFormList.value = task.taskFormList
}

// 获取任务列表数据
const receive = async (message) => {
    if (message == '错误') return
    if (message instanceof Object) {
        isTaskProgress.value = false
        taskList.value[socket_index.value] = message
    }
    if (message.isComplete) {
        let url = message.completeImageUrl
        imageUrlArray(url)
        // 存储用户存储的任务及生成的记录
        taskFormList.value = [...taskFormList.value, JSON.parse(JSON.stringify(formList.value))]
        storePersist.taskObj = {
            taskList: taskList.value,
            taskRecord: completeImageUrl.value,
            taskIndex: socket_index.value,
            taskFormList: taskFormList.value
        }
        isDisabled.value = false
    }
}

// 挂载前-打开websocket
onBeforeMount(() => {
    socket.initWebSocket(receive, 'taskTool')
})
// 销毁组件-关闭websocket
onUnmounted(() => {
    socket.close()
    storePersist.taskObj = {}
})
// ---------------------------任务列表结束---------------------------------

// ---------------------------表单验证开始---------------------------------
let formLoading = ref(false) // 提交表单时，增加loading样式
let isDisabled = ref(false) // 提交表单及任务无返回数据时，禁止操作form

// 图片上传
const uploadSectionFile = async (params, index) => {
    // FormData 对象
    let file = params.file
    const typeArr = ['image/png', 'image/jpeg', 'image/jpg']
    const isJPG = typeArr.indexOf(file.type) !== -1
    const isLt3M = file.size / 1024 / 1024 < 4
    if (!isJPG) {
        ElMessage.error('请上传图片格式!')
        uploadRef.value[0].handleRemove(params) // 允许第二次上传，清除上一次上传的file
        return
    }
    if (!isLt3M) {
        ElMessage.error('上传图片大小不能超过 4MB!')
        uploadRef.value[0].handleRemove(params) // 允许第二次上传，清除上一次上传的file
        return
    }

    formList.value.LoadImage[index].loading = true // 上传图片时，loading 开启

    let formData = new FormData()
    // 文件对象
    formData.append('file', file)

    try {
        let res = await fileObsUpload(formData)
        if (res) {
            formList.value.LoadImage[index].nodeValue = res // 图片链接
            setTimeout(() => {
                formList.value.LoadImage[index].loading = false // 上传图片时，loading 关闭
            }, 500)
        }
    } catch {
        formList.value.LoadImage[index].loading = false // 上传图片时，loading 关闭
        ElMessage.error('图片上传失败')
    }
    // 两种方法：handleRemove 或者 clearFiles
    uploadRef.value
    uploadRef.value[0].handleRemove(params) // 允许第二次上传，清除上一次上传的file
}

// 表单提交-先校验后提交
const onSubmit = () => {
    throttle(() => {
        validateAll(async () => {
            // 表单提交
            if (!isDisabled.value) {
                // 表单提交 loading显示
                formLoading.value = true
                // 发布任务后，禁用发布按钮的使用
                isDisabled.value = true
                // 任务id
                const taskId = GenNonDuplicateID(12)
                // 用户id标识
                const userId = sessionStorage.getItem('AI_USERID')
                const controlVar = { id: parseInt(id), taskId, userId, controlVar: formList.value }
                // 提前开始开启任务，index+1
                socket_index.value++
                try {
                    // 发布任务
                    let res = await taskRun(controlVar)
                    if (res) {
                        isTaskProgress.value = true
                    } else {
                        socket_index.value--
                    }
                    formLoading.value = false
                } catch {
                    formLoading.value = false
                    isDisabled.value = false
                    // 失败后，任务index减1
                    socket_index.value--
                }
            }
        })
    }, 1000)()
}

// 表单全部校验
const validateAll = (callback) => {
    Promise.all([
        validate('CLIPTextEncode'),
        validate('LoadImage'),
        validate('UIInputFloatNode'),
        validate('UIInputIntegerNode'),
        validate('UIInputMultilineStringNode'),
        validate('UIInputStringNode')
    ])
        .then(() => {
            callback()
        })
        .catch(() => {
            ElMessage.error('您有未完成的填写或上传，请全部完成后再点击生成。')
        })
}

// 表单单独校验，提交表单前，数据为空的校验
const validate = (data) => {
    return new Promise((resolve, reject) => {
        // formList 不为空对象 并且 formList.value[data]存在
        if (Object.getOwnPropertyNames(formList.value).length > 0 && formList.value[data].length > 0) {
            let index = 0
            for (let item of formList.value[data]) {
                if (!item.nodeValue) {
                    reject()
                    break
                }
                index++
            }
            if (index == formList.value[data].length) resolve()
        } else resolve()
    })
}
// ---------------------------表单验证结束---------------------------------
</script>

<style scoped>
.avatar-uploader .avatar {
    width: 178px;
    height: 178px;
    display: block;
}
.avatar-uploader .el-upload {
    border: 1px dashed var(--el-border-color);
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: var(--el-transition-duration-fast);
}

.avatar-uploader .el-upload:hover {
    border-color: var(--el-color-primary);
}

.el-icon.avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    text-align: center;
}
.common-layout {
    padding: 30px 20px;
}
.taskContent {
    border-top: 1px solid var(--el-border-color);
    border-bottom: 1px solid var(--el-border-color);
    border-right: 1px solid var(--el-border-color);
    padding-top: 15px;
    /* border-radius: 5px; */
}
.taskContent:first-child {
    border-left: 1px solid var(--el-border-color);
}
.common-layout .task-list-ul {
    border: 1px solid var(--el-border-color);
    margin-top: 20px;
    border-radius: 4px;
    padding: 20px;
}
.task-form {
    padding-top: 30px;
    margin-top: 15px;
    border-top: 1px solid var(--el-border-color);
}
.task-list-ul .task-list-li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.task-list-li:last-child {
    margin-bottom: 0;
}

.el-progress {
    width: 70%;
}
</style>
<style>
.el-message-box {
    max-width: min-content;
}
.imgList {
    padding: 30px 0;
    margin-top: 15px;
    border-top: 1px solid var(--el-border-color);
}
</style>
