<template>
    <div class="list-wrap">
        <div class="item-wrap min-h" @click="addBlueprint">
            <div class="line-1"></div>
            <div class="line-2"></div>
        </div>
        <div v-for="(item, index) in list" :key="item.id" class="item-wrap">
            <!-- <img :src="item.backGroundUrl" class="file-img" /> -->
            <el-image class="file-img" :src="item.backGroundUrl" lazy :preview-src-list="srcList" :initial-index="index" />
            <div class="mt-10">{{ item.fileName }}</div>
            <div class="mt-10">{{ item.updateTime }} 更新时间</div>
            <div class="mt-10">
                <el-button type="danger" @click="delectBlueprint(item.id)">删除</el-button>
                <el-button type="primary" @click="goDetail(item.id)">编辑</el-button>
                <el-button @click="copyDetail(item.id)">复制</el-button>
            </div>
        </div>
        <div class="item_none"></div>
        <div class="item_none"></div>
        <div class="item_none"></div>
        <div class="item_none"></div>
    </div>
</template>

<script setup>
import { useRouter } from 'vue-router'
import { ref, onMounted } from 'vue'

import { findPageList, saveNodeFile, deleteNodeById, copyOrSaveAs } from '@/api/blueprint/list'
import { ElMessageBox, ElMessage } from 'element-plus'
const router = useRouter()

let list = ref([])

onMounted(() => {
    _findPageList()
})

let pageIndex = ref(1)
const total = ref(0)

let srcList = []
const _findPageList = async () => {
    const info = await findPageList({ pageIndex: pageIndex.value, pageSize: 100 })
    srcList = info.records.map((val) => val.backGroundUrl)
    list.value = info.records
    total.value = info.total
}
const goDetail = (id) => {
    router.push(`/node?id=${id}`)
}
// 复制节点流 TODO
const copyDetail = (id) => {
    ElMessageBox.confirm('确定复制文件吗', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
    }).then(async () => {
        const info = await copyOrSaveAs({ id, operateType: 1 })
        if (info) {
            ElMessage.success({
                message: '复制成功'
            })
            _findPageList()
        }
    })
}

const addBlueprint = async () => {
    ElMessageBox.confirm('确定新增文件吗', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'success'
    }).then(async () => {
        const info = await saveNodeFile({
            fileName: `新建蓝图-${list.value.length + 1}`
        })
        if (info) {
            ElMessage.success({
                message: '新增成功'
            })
            _findPageList()
        }
    })
}

const delectBlueprint = async (id) => {
    ElMessageBox.confirm('确定删除文件吗', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
    }).then(async () => {
        const info = await deleteNodeById(id)
        if (info) {
            ElMessage.success({
                message: '删除成功'
            })
            _findPageList()
        }
    })
}
</script>
<style scoped>
.d-flex {
    display: flex;
    justify-content: center;
}
.list-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 22px;
}
.item-wrap {
    width: 24%;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 20px 0;
    margin-bottom: 20px;
    align-items: center;
    position: relative;
    box-sizing: border-box;
}
.item_none {
    width: 24%;
    height: 0;
    padding: 0;
    line-height: 0;
}
.item-wrap:last-child {
    margin-right: 0;
}

.file-img {
    width: 80%;
    height: 200px;
    border-radius: 8px;
}

.mt-10 {
    margin-top: 10px;
}

.line-1 {
    width: 100px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ccc;
}

.line-2 {
    width: 10px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ccc;
}

.min-h {
    min-height: 200px;
}
</style>
