<template>
    <div class="marketTool">
        <el-button v-if="!token" type="primary" plain class="absoluteButton" @click="blueprint()">蓝图管理</el-button>
        <div v-if="!token" class="blod marketTool-title">欢迎来到工具应用市场，选择合适的工具开始你的创作吧！</div>
        <ul id="container_scorll" class="marketTool-ul container_scorll" @scroll="Scroll">
            <li
                v-for="(item, key) in productList"
                :key="item.id"
                class="marketTool-li item_box"
                :class="{ mask: item.ifShow }"
                @mouseenter="enterDom(key)"
                @mouseleave="leaveDom(key)"
                @click="clickDom(item)">
                <el-image :src="item.backGroundUrl" style="width: 100%" />

                <div v-show="item.ifShow" class="mask-info">
                    <div class="productTip">{{ item.fileName }}</div>
                    <div class="useAnyway">点击任意处进入使用</div>
                    <div class="author">创作者：{{ item.createBy }}</div>
                </div>
            </li>
        </ul>
    </div>
</template>

<script setup>
import { onMounted, ref } from 'vue'
import { useRouter } from 'vue-router'
import { findReleaseList } from '@/api/blueprint/list'
import { usePersistStore } from '@/store/persist.js'
const storePersist = usePersistStore()

const router = useRouter()

const token = storePersist.token
let productList = ref([])

onMounted(() => {
    // 获得工具商店的数据
    findReleaseListFun()
})

// 工具市场--查询已发布的节点流
const findReleaseListFun = async () => {
    let res = await findReleaseList()
    res.filter((item) => (item.ifShow = false))
    productList.value = res
}

// 跳转到工具页面
const enterDom = (i) => {
    productList.value[i].ifShow = true
}

// 离开
const leaveDom = (i) => {
    productList.value[i].ifShow = false
}

// 跳转到工具页面
const clickDom = (item) => {
    const start = item.fileUrl.indexOf('/blueprint/home')
    const end = item.fileUrl.indexOf('?')
    const path = item.fileUrl.substring(start, end)
    router.push({ path, query: { id: item.id } })
}

const blueprint = () => {
    router.push('/')
}
</script>

<style scoped>
/* CSS瀑布流开始 */
.container_scorll {
    margin: 10px;
    column-count: 5;
    column-gap: 10px;
}
.marketTool-ul {
    padding: 0;
}
.marketTool-li {
    list-style: none;
    width: 100%;
    margin-left: 1%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    border-radius: 6px;
    position: relative;
    margin-bottom: 10px;
}

/* CSS瀑布流结束 */
.blod {
    font-weight: bold;
}
.marketTool {
    margin: 30px;
}
.marketTool-title {
    text-align: center;
    margin: 60px 0;
    font-size: 20px;
}
.mask-info {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    display: flex;
    padding: 0 10px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 10px 15px;
}
.useAnyway {
    text-align: center;
}
.author {
    text-align: right;
    font-size: 10px;
}

.absoluteButton {
    position: absolute;
    top: 2.9vw;
    right: 3vw;
}
</style>
