<template>
    <div class="wrap">
        <el-header class="top-wrap">
            <div class="d-flex">
                <el-button text @click="back">返回</el-button>
                <el-button @click="addBlueprint">新建</el-button>
                <el-button @click="save">保存</el-button>
                <el-button @click="saveOther">另存为</el-button>
                <el-input v-model="workData.fileName" class="ml-10" @blur="changeName" @keyup.enter="(event) => event.target.blur()" />
            </div>
            <el-button @click="release">发布</el-button>
        </el-header>
        <main id="home-wrap" class="home-wrap"></main>
        <el-dialog v-model="dialogVisible" title="" width="70%" class="spec-dialog">
            <MyAssets v-if="dialogVisible" :is-select="true" :asset-type="assetType" @confirm-selection-emit="confirmSelectionEmit" />
        </el-dialog>
        <el-dialog v-model="imageVisible" title="" width="70%" class="spec-dialog">
            <ImageList :image-array="imageArray" @confirm-selection-image="confirmSelectionImage" />
        </el-dialog>
    </div>
</template>

<script setup>
/* eslint-disable */
import { onMounted, onUnmounted, ref } from 'vue'
import '@/assets/style.css'
import '@/assets/lib/litegraph.css'
import { ElMessage, ElMessageBox } from 'element-plus'
import { useRouter } from 'vue-router'
import { findNodeById, saveNodeFlow, updateFileName, saveNodeFile, base64ToFile, copyOrSaveAs } from '@/api/blueprint/list'
import MyAssets from '@/component/myAssets.vue'
import ImageList from '@/component/imageList.vue'

const router = useRouter()
let settime = null
const id = router.currentRoute.value.query.id
let workInfo = null
import('@/assets/scripts/app.js').then(async (res) => {
    const info = await findNodeById(id)
    workInfo = info
    localStorage.setItem(`workflow_${id}`, JSON.stringify(info.fileJsonObject.workflow))

    await res.app.setup(id)
    window.app = res.app
    window.graph = res.app.graph
})
let workData = ref({})
onMounted(async () => {
    const info = await findNodeById(id)
    workData.value = info
    if (window.graph) {
        settime = setInterval(() => localStorage.setItem(`workflow_${id}`, JSON.stringify(window.graph.serialize())), 1000)
    }
})
onUnmounted(() => {
    clearInterval(settime)
})
// 另存为
const saveOther = async () => {
    ElMessageBox.prompt('请输入文件名', '提醒', {
        confirmButtonText: 'OK',
        cancelButtonText: 'Cancel'
    }).then(async ({ value }) => {
        const data = {
            operateType: 2,
            id: workInfo.id,
            fileName: value
        }
        const res = await copyOrSaveAs(data)

        if (res) {
            ElMessage.success({
                message: '保存成功'
            })
        }
    })
}

const save = async () => {
    const a = document.getElementById('graph-canvas')
    const temp = a.toDataURL('image/png')
    const pic = await base64ToFile({ base64Url: temp })
    const promp_out = await window.app.graphToPrompt()
    const data = {
        nodeId: workInfo.id,
        fileName: workData.value.fileName,
        operateType: 'save',
        fileJson: promp_out,
        backGroundUrl: pic
    }
    const res = await saveNodeFlow(data)

    if (res) {
        ElMessage.success({
            message: '保存成功'
        })
    }
}

const release = async () => {
    const a = document.getElementById('graph-canvas')
    const temp = a.toDataURL('image/png')
    const pic = await base64ToFile({ base64Url: temp })
    const promp_out = await window.app.graphToPrompt(true)
    const data = {
        nodeId: workInfo.id,
        fileName: workData.value.fileName,
        operateType: 'packup',
        fileJson: promp_out,
        fileUrl: `${import.meta.env.VITE_BASE_HTTP}/blueprint/home?id=${id}`,
        backGroundUrl: pic
    }
    const res = await saveNodeFlow(data)

    if (res) {
        ElMessage.success({
            message: '发布成功'
        })
        window.open(`${import.meta.env.VITE_BASE_HTTP}/blueprint/home?id=${id}`)
        // window.open(`/blueprint/home/?id=${id}`);
    }
}

const changeName = async () => {
    const res = await updateFileName({
        fileName: workData.value.fileName,
        nodeId: workData.value.id
    })
    if (res) {
        ElMessage.success({
            message: '改名成功'
        })
    }
}

const addBlueprint = async () => {
    const info = await saveNodeFile({
        fileName: `新建蓝图-${Number(id) + 1}`
    })
    if (info) {
        window.open(`${import.meta.env.VITE_BASE_HTTP}/node/${info.id}`)
        // window.open(`/node/?id=${info}`);
    }
}

const back = () => {
    router.go(-1)
}
const dialogVisible = ref(false)
const assetType = ref(false)
const imageVisible = ref(false)
const imageArray = ref([])
onMounted(async () => {
    window.addEventListener('message', function (e) {
        console.log(e)
        // 监听模型选择
        if (e.data.message === 'CheckpointLoaderSimple') {
            dialogVisible.value = true
            assetType.value = e.data.value
        } else if (e.data.message === 'CheckpointImage') {
            imageVisible.value = true
            imageArray.value = e.data.value
        }
    })
})
const confirmSelectionEmit = async (value) => {
    // 选择模型 发送消息
    dialogVisible.value = false
    // value.name
    window.postMessage(
        {
            message: 'ConfirmSelectionEmit',
            value
        },
        '*'
    )
}
// 打开图片列表
const confirmSelectionImage = async (value) => {
    imageVisible.value = false
    window.postMessage(
        {
            message: 'confirmSelectionImage',
            value
        },
        '*'
    )
}
</script>

<style scoped>
.top-wrap {
    width: 100vw;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home-wrap {
    width: 100vw;
    height: calc(100vh - 120px);
    overflow: hidden;
}
.d-flex {
    display: flex;
    align-items: center;
}
.ml-10 {
    margin-left: 10px;
}
:deep(.el-dialog) {
    margin: 4vw auto 50px;
}
:deep(.el-dialog__body) {
    padding-top: 10px;
    height: calc(100vh - 200px);
    overflow: auto;
}
</style>
