/** * @file * @author 何明暄 */
<template>
    <el-dialog v-model="dialogTableVisible" title="Shipping address" class="assets-detile-box" width="80%">
        <div style="width: 60%; height: 100%; position: relative">
            <el-carousel trigger="click" height="auto" :interval="8000">
                <el-carousel-item v-for="item in 1" :key="item">
                    <img style="width: 100%" :src="assetObject.assetCover" alt="" />
                </el-carousel-item>
            </el-carousel>
        </div>
        <div class="asset-detail" style="width: 38%">
            <div style="display: flex; justify-content: flex-end">
                <el-button v-if="userInfo.id === assetObject.userId" type="primary" @click="routerPush('/assetManage/uploadAsset')">编辑</el-button>
            </div>
            <div style="display: flex; justify-content: space-between; align-items: center; margin-top: 18px">
                <div>收藏数: {{ assetObject.collectCount }}</div>
                <div>
                    <el-button v-if="assetObject.isCollect === 0" class="star" :icon="Star" circle @click="onCollect" />
                    <el-button v-else class="star" type="primary" :icon="StarFilled" circle @click="onCollect" />
                </div>
            </div>
            <h1 style="margin-top: 8px">{{ assetObject.assetName }}</h1>
            <div style="margin-top: 8px; display: flex; justify-content: space-between; align-items: center">
                <div>作者名: {{ assetObject.createBy || 'admin' }}</div>
                <div>最后编辑时间: {{ assetObject.createTime }}</div>
            </div>
            <div style="margin-top: 12px" v-html="assetDetail"></div>
        </div>
    </el-dialog>
</template>
<script setup>
import { Star, StarFilled } from '@element-plus/icons-vue'
import { ref, computed } from 'vue'
import { ElMessage } from 'element-plus'
import { collectAsset, cancelCollect, findAssetById } from '@/api/assetManage/index.js'
import { useContentStore } from '@/store/index.js'
import { useRouter } from 'vue-router'
import { usePersistStore } from '@/store/persist.js'

const router = useRouter()
const storePersist = usePersistStore()
const contentStore = useContentStore()
const userInfo = computed(() => storePersist.userInfo)
const emit = defineEmits(['onUpdating'])
const dialogTableVisible = ref(false)
const assetObject = ref({})
const assetDetail = ref('')
const dialogTableVisibleTrue = async (item) => {
    // 外部调用内部方法
    assetObject.value = item
    const res = await findAssetById(item.id)
    assetDetail.value = res.assetDetail
    dialogTableVisible.value = true
}
const onCollect = async () => {
    if (assetObject.value.isCollect === 0)
        await collectAsset({
            assetIdList: [assetObject.value.id]
        })
    else
        await cancelCollect({
            assetId: assetObject.value.id
        })

    ElMessage({
        message: assetObject.value.isCollect === 0 ? '收藏成功' : '取消收藏成功',
        type: 'success'
    })
    assetObject.value.isCollect === 0 ? (assetObject.value.isCollect = 1) : (assetObject.value.isCollect = 0)
    // 同步列表
    emit('onUpdating')
}
const routerPush = () => {
    contentStore.editAssetObject = assetObject.value
    router.push('/assetManage/uploadAsset')
}
defineExpose({
    dialogTableVisibleTrue
})
</script>
<style lang="scss">
.assets-detile-box {
    margin-top: 8vh !important;
    .el-carousel__item {
        width: 100%;
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .el-carousel {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .el-dialog__header {
        display: none;
    }
    .el-dialog__body {
        width: 100%;
        height: 80vh;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        box-sizing: border-box;
        overflow: hidden;
    }
    .asset-detail {
        padding-right: 10px;
        overflow-x: hidden;
        overflow-y: auto;
        img {
            width: 100%;
        }
    }
}
</style>
