<template>
    <div v-if="props.imageArray.length > 0" class="image-list_container">
        <div class="image-list_context">
            <el-radio-group v-model="radioCheck">
                <el-radio v-for="(item, index) in imageGroup" :key="item" :label="index" size="large">
                    <div class="my-train-card" :class="{ 'my-train-card-border': radioCheck === index }">
                        <el-image class="load-image" :src="item" fit="cover" />
                    </div>
                </el-radio>
            </el-radio-group>
        </div>
        <el-button type="primary" class="confirm-bottom" @click="confirm">确定</el-button>
    </div>
    <div v-else class="no-image-list">图片库空空荡荡，上传您的第一张图片吧~~</div>
</template>

<script setup>
import { ref, watch } from 'vue'
// 获得图片列表
const props = defineProps({
    imageArray: {
        type: Array,
        default: () => {
            return []
        }
    }
})
// 监听图片列表 props.imageArray 的改变
const imageGroup = ref([])
watch(
    () => props.imageArray,
    (newValue, oldValue) => {
        if (newValue !== oldValue) {
            imageGroup.value = props.imageArray.map((item) => {
                let folder_separator = item.lastIndexOf('/')
                let subfolder = ''
                if (folder_separator > -1) {
                    subfolder = item.substring(0, folder_separator)
                    item = item.substring(folder_separator + 1)
                }
                return `${import.meta.env.VITE_BASE_PY_API}/view?filename=${item}&type=input&subfolder=${subfolder}&id=${JSON.parse(sessionStorage.getItem('AI_INFO')).id || null}`
            })
        }
    },
    { immediate: true }
)
// 选择图片后，点击确认按钮，将选择的图片链接，传到父级
const radioCheck = ref(0)
const emit = defineEmits(['confirmSelectionImage'])
const confirm = () => {
    emit('confirmSelectionImage', props.imageArray[radioCheck.value])
}
</script>

<style lang="scss" scoped>
.image-list_context {
    height: calc(100vh - 240px);
    overflow-y: scroll;
    .my-train-card {
        height: 100%;
    }
    .my-train-card-border {
        box-shadow: rgba(64, 110, 255, 0.2) 0px 0px 0px 10px;
        z-index: 1;
        &::after {
            content: ' ';
            width: 96%;
            height: 97%;
            border: #409eff 5px solid;
            position: absolute;
            top: 51%;
            left: 52%;
            transform: translate(-50%, -50%);
        }
    }
}
.confirm-bottom {
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -30px;
}
.no-image-list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}
</style>
