/** * @file * @author 何明暄 */
<template>
    <div class="my-assets-box">
        <el-tabs v-model="activeName" class="demo-tabs" @tab-change="handleClick">
            <el-tab-pane label="我收藏的" name="1"></el-tab-pane>
            <el-tab-pane label="我上传的" name="2"></el-tab-pane>
            <el-tab-pane v-if="props.assetType === 2 || !props.assetType" label="我训练的" name="3"></el-tab-pane>
        </el-tabs>
        <div v-if="activeName !== '3' && myAssetsList.length > 0" class="my-assets-box-content">
            <el-radio-group v-if="props.isSelect" v-model="radioSelect" class="my-assets-list__content">
                <el-radio v-for="(item, index) in myAssetsList" :key="item.id" :label="index" size="large">
                    <div class="my-assets-card" :class="{ 'my-assets-card-border': radioSelect === index }">
                        <div class="my-assets-card__mark">
                            <p class="font18">{{ item.assetName }}</p>
                            <div class="type-box">
                                <p class="font14">类型: {{ item.assetTypeName }}</p>
                                <p class="font14">收藏数: {{ item.collectCount }}</p>
                                <p></p>
                            </div>
                            <div class="creator-time-box" style="margin-top: 30px">
                                <p class="font12">创作者: {{ item.userId === -1 ? 'admin' : item?.createBy || '' }}</p>
                                <p class="font12">创建时间: {{ item.createTime }}</p>
                            </div>
                        </div>
                        <el-image class="el-image-assets" :src="item.assetCover" fit="cover" lazy />
                    </div>
                </el-radio>
            </el-radio-group>
            <div v-else class="my-assets-list__content">
                <MyAssetsCard v-for="item in myAssetsList" :key="item.id" :section="item" :active-name="activeName" @on-updating="onUpdating" @click="myAssetsCardClick(item)" />
            </div>
            <div v-if="isSelect" style="display: flex; align-items: center; justify-content: center">
                <p style="display: flex; align-items: center; justify-content: center">
                    没有你想要的风格？到
                    <el-link type="primary" @click="windowOpenUrl('/assetManage/square')"> 资产广场 </el-link>
                    收藏，或者
                    <el-link type="primary" @click="windowOpenUrl('/assetManage/uploadAsset')"> 上传 </el-link>
                    你需要的风格资产
                </p>
            </div>
        </div>
        <div v-else-if="activeName === '3' && myTrainList.length > 0" class="my-assets-box-content">
            <div class="my-assets-list__content">
                <MyAssetsCard
                    v-for="item in myTrainList"
                    :key="item.id"
                    :section="item"
                    :active-name="activeName"
                    :is-sock-error="isSockError"
                    :is-lock="isLock"
                    @on-updating="onUpdating"
                    @on-reload-sock="onReloadSock"
                    @click.stop="myAssetsCardClick(item)" />
                <div v-for="item in 10" :key="item" class="item_none"></div>
            </div>
            <Pagination :limit="state.pageSize" :page="state.pageNum" :page-sizes="state.pageSizes" :total="state.total" @pagination="pagination" />
        </div>
        <div v-else class="my-assets-box-content">
            <el-empty description="暂时没有数据" />
        </div>
        <div v-if="props.isSelect" class="confirm-selection">
            <el-button type="primary" @click="confirmSelection">确认</el-button>
        </div>
    </div>
    <AssetsDetilePop ref="assetsDetilePop" :active-name="activeName" @on-updating="getFindOwnOrCollect" />
</template>
<script setup>
import { onMounted, ref, onUnmounted } from 'vue'
import MyAssetsCard from '@/component/myAssetsCard.vue'
import AssetsDetilePop from '@/component/assetsDetilePop.vue'
import { findOwnOrCollect } from '@/api/assetManage/index.js'
import { ElMessage } from 'element-plus'
import Pagination from '@/component/table/pagination-ui.vue'
import socket from '@/assets/scripts/sock.js'
import { findStyleTrainPageList, trainComplete } from '@/api/styleTraining/index.js'

const props = defineProps({
    isSelect: {
        default: false,
        type: Boolean
    },
    assetType: {
        default: null,
        type: Number
    }
})
const assetsDetilePop = ref(null)
const myAssetsCardClick = (item) => {
    //TODO 正在训练的任务，不可点击
    assetsDetilePop.value.dialogTableVisibleTrue(item)
}
const emit = defineEmits(['confirmSelectionEmit'])
const activeName = ref('1')
const radioSelect = ref(0)
const handleClick = () => {
    if (activeName.value === '3') {
        getTrain()
        setUpSocket()
    } else {
        getFindOwnOrCollect()
    }
}
onMounted(() => {
    getFindOwnOrCollect()
})
const myAssetsList = ref([])
const onUpdating = async () => {
    if (activeName.value !== '3') {
        getFindOwnOrCollect()
    } else {
        // 取消排队，获得新的训练内容
        socket.close()
        getTrain()
    }
}
const getFindOwnOrCollect = async () => {
    const res = await findOwnOrCollect({
        type: activeName.value,
        assetType: props.assetType
    })
    myAssetsList.value = res
}
const confirmSelection = () => {
    // 确定选择资产
    if (!myAssetsList.value[radioSelect.value])
        return ElMessage({
            message: '请选择资产',
            type: 'error'
        })

    //获取当前文件名
    // myAssetsList.value[radioSelect.value].fileUrlUse = myAssetsList.value[radioSelect.value].fileUrl.split('/').reverse()[0]
    // myAssetsList.value[radioSelect.value].fileUrlUse = `${myAssetsList.value[radioSelect.value].assetName}_${myAssetsList.value[radioSelect.value].id}`
    emit('confirmSelectionEmit', JSON.parse(JSON.stringify(myAssetsList.value[radioSelect.value])))
}
const windowOpenUrl = (urls) => {
    window.open(urls, '_blank')
}
// ---------------------------我训练的开始------------------------------
const myTrainList = ref([{}])
const isSockError = ref(false)
const isLock = ref(false) // 点击重新加载按钮: 锁定, sock连接出现异常 / 成功: 解锁

// 分页配置
let state = ref({
    loading: false,
    total: 0,
    pageNum: 1,
    pageSize: 10,
    pageSizes: [10, 20, 50, 100, 200, 300],
    hidden: true
})

const getTrain = async () => {
    state.value.loading = true
    try {
        const res = await findStyleTrainPageList({ pageIndex: state.value.pageNum, pageSize: state.value.pageSize })
        if (res) {
            state.value.loading = false
            myTrainList.value = res.records
            state.value.total = res.total
            if (res.total < state.value.pageSize) {
                state.value.pageSize = 10
            }
        } else {
            state.value.hidden = false
        }
    } catch (e) {
        state.value.loading = false
    }
}

const receive = async (message) => {
    //TODO socket 接收数据
    console.log(message)
    if (message === '错误') {
        isSockError.value = true
        if (isLock.value) isLock.value = false
        return
    }
    if (message instanceof Object) {
        myTrainList.value[0] = message
    }
    if (message.isComplete) {
        // TODO 默认拉取数据
        setTrainComplete(message.fileUrl, message.styleTrainId)
        if (isLock.value) isLock.value = false
    }
}
// 打开websocket
const setUpSocket = () => {
    socket.initWebSocket(receive, 'trainData')
}
const onReloadSock = () => {
    setUpSocket()
    //TODO 更改第一个列表的状态
    if (!isLock.value) isLock.value = true
}
const setTrainComplete = async (fileUrl, styleTrainId) => {
    const res = await trainComplete({ fileUrl, styleTrainId })
    if (res) {
        ElMessage({
            message: '训练完成',
            type: 'success'
        })
        getTrain()
    }
}

// 分页
const pagination = (ev) => {
    const { page, limit } = ev
    state.value.pageNum = page
    state.value.pageSize = limit

    getTrain()
}
// 销毁组件-关闭websocket
onUnmounted(() => {
    if (activeName.value === '3') socket.close()
})
// ---------------------------我训练的结束------------------------------
</script>
<style lang="scss">
.my-assets-box {
    height: 100%;
    .my-assets-box-content {
        height: calc(100% - 60px);
        overflow-y: auto;
        padding: 12px;
    }
    .el-radio {
        height: auto;
        position: relative;
        .el-radio__input {
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 2;
            .el-radio__inner {
                width: 20px;
                height: 20px;
                &::after {
                    width: 6px;
                    height: 6px;
                }
            }
        }
    }
    .el-image-assets {
        width: 300px;
        height: 200px;
    }
    .my-assets-list__content {
        display: flex;
        flex-wrap: wrap;
        .el-radio__label {
            padding: 0;
        }
        .el-radio {
            margin: 0;
            margin-bottom: 30px;
            margin-right: 10px;
        }
    }
    .my-assets-card {
        width: 300px;
        height: 200px;
        display: inline-block;
        position: relative;
        margin-bottom: 20px;
        margin-right: 10px;
        .star {
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 1;
        }
        .my-assets-card__mark {
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.6);
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            opacity: 0;
            transition: 0.3s;
            padding: 20px;
            box-sizing: border-box;
            &:hover {
                opacity: 1;
            }
            p {
                color: #fff;
                margin-top: 5px;
            }
            .creator-box {
                width: 100%;
                padding: 0 20px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: absolute;
                bottom: 30px;
                left: 0;
                box-sizing: border-box;
            }
            .publish-to-plaza {
                justify-content: center;
            }
        }
    }
    .my-assets-card-border {
        box-shadow: rgba(64, 110, 255, 0.2) 0px 0px 0px 10px;
        z-index: 1;
        &::after {
            content: ' ';
            width: 103%;
            height: 103%;
            border: #409eff 5px solid;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .item_none {
        width: 300px;
        height: 0;
        padding: 0;
        line-height: 0;
    }
    .confirm-selection {
        width: 100%;
        height: 40px;
        background-color: #fff;
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        button {
            padding: 0 34px;
        }
    }
}
</style>
