/** * @file * @author 何明暄 */
<template>
    <div v-if="props.section.trainStatus === 3 || activeName !== '3'" class="my-assets-card">
        <el-button
            v-if="props.activeName == '1' && props.section.userId !== -1"
            class="star"
            size="small"
            :type="props.section.isCollect === 0 ? '' : 'primary'"
            :icon="props.section.isCollect === 0 ? Star : StarFilled"
            @click.stop="onCollect">
            {{ props.section.isCollect === 0 ? '收藏' : '取消收藏' }}
        </el-button>
        <div class="my-assets-card__mark">
            <el-button
                v-if="props.activeName == '1' && props.section.userId !== -1"
                class="star"
                size="small"
                :type="props.section.isCollect === 0 ? '' : 'primary'"
                :icon="props.section.isCollect === 0 ? Star : StarFilled"
                @click.stop="onCollect">
                {{ props.section.isCollect === 0 ? '收藏' : '取消收藏' }}
            </el-button>
            <p class="font18">{{ props.section.assetName }}</p>
            <div class="type-box">
                <p class="font14">类型: {{ props.section.assetTypeName }}</p>
                <p class="font14">收藏数: {{ props.section.collectCount }}</p>
                <p></p>
            </div>
            <div v-if="props.activeName == '1'" class="creator-box">
                <div class="creator-time-box">
                    <p class="font12">创作者: {{ props.section.userId === -1 ? 'admin' : props.section?.createBy || '' }}</p>
                    <p class="font12">创建时间: {{ props.section.createTime }}</p>
                </div>
            </div>
            <div v-else class="creator-box publish-to-plaza">
                <el-button v-if="props.section.isPublish === 0" type="primary" @click.stop="onPublishOrCancel">发布到广场</el-button>
                <el-button v-else type="primary" @click.stop="onPublishOrCancel">取消发布到广场</el-button>
            </div>
        </div>
        <el-image class="el-image-assets" style="width: 100%" :src="props.section.assetCover" fit="cover" lazy />
    </div>
    <div v-if="props.section.trainStatus === 0" class="my-assets-card">
        <div class="el-train-assets">
            <el-icon :size="40"><UploadFilled /></el-icon>
            <div class="el-train-description">训练排队中 当前排在第X位</div>
            <el-button type="primary" @click.stop="cancelLineUp">取消排队</el-button>
        </div>
    </div>
    <div v-if="props.section.trainStatus === 1" class="my-assets-card">
        <div class="el-train-assets">
            <el-icon :size="40"><Loading /></el-icon>
            <div class="el-train-description">训练中</div>
            <el-progress :text-inside="true" :stroke-width="15" :percentage="70" />
            <div class="el-train-description">训练完成99%</div>
        </div>
    </div>
    <div v-if="props.section.trainStatus === 2" class="my-assets-card">
        <div class="el-train-assets">
            <el-icon :size="40"><CircleClose /></el-icon>
            <div class="el-train-description">训练失败</div>
            <el-button type="error" :loading="props.isLock" :disabled="isLock" @click.stop="reloadLineUp">重新训练</el-button>
        </div>
    </div>
</template>
<script setup>
import { Star, StarFilled } from '@element-plus/icons-vue'
import { collectAsset, cancelCollect, publishOrCancel } from '@/api/assetManage/index.js'
import { retryTrain, cancelQueue } from '@/api/styleTraining/index.js'
import { ElMessage, ElMessageBox } from 'element-plus'

const props = defineProps({
    section: {
        default: () => {
            return {}
        },
        type: Object
    },
    activeName: {
        default: '1',
        type: String
    },
    isSockError: {
        default: false,
        type: Boolean
    },
    isLock: {
        default: false,
        type: Boolean
    }
})
const emit = defineEmits(['onUpdating', 'onReloadSock'])
const onCollect = async () => {
    if (props.section.isCollect === 0) {
        await collectAsset({
            assetIdList: [props.section.id]
        })
    } else {
        await cancelCollect({
            assetId: props.section.id
        })
    }
    ElMessage({
        message: props.section.isCollect === 0 ? '收藏成功' : '取消收藏成功',
        type: 'success'
    })
    // 同步列表
    emit('onUpdating')
}
const onPublishOrCancel = async () => {
    // 发布 取消发布
    let thisIsPublish = props.section.isPublish === 0 ? 1 : 0
    await publishOrCancel({
        assetId: props.section.id,
        isPublish: thisIsPublish
    })
    ElMessage({
        message: props.section.isPublish === 0 ? '发布成功' : '取消发布成功',
        type: 'success'
    })
    // 同步列表
    emit('onUpdating')
}
// 取消排队
const cancelLineUp = async () => {
    ElMessageBox.confirm('确定要取消排队吗?', '提示', {
        confirmButtonText: '是',
        cancelButtonText: '否',
        type: 'warning'
    }).then(() => {
        isCancelSubmit()
    })
}
const isCancelSubmit = async () => {
    const res = await cancelQueue({ styleTrainId: props.section.id })
    if (res) {
        ElMessage({
            message: '取消排队成功',
            type: 'success'
        })
        emit('onUpdating')
    }
}
// 重新加载
const reloadLineUp = async () => {
    // 当前已有风格训练正在进行中请在本次训练完成后重试
    try {
        const res = await retryTrain()
        if (res) {
            ElMessage({
                message: '正在开始重新训练, 请稍等',
                type: 'success'
            })
            emit('onReloadSock')
        }
    } catch {
        ElMessage({
            message: '当前已有风格训练正在进行中请在本次训练完成后重试',
            type: 'error'
        })
    }
}
</script>
<style lang="scss">
.my-assets-card {
    width: 300px;
    height: 200px;
    display: inline-block;
    position: relative;
    margin-bottom: 20px;
    .star {
        position: absolute;
        top: 12px;
        right: 12px;
        z-index: 1;
    }
    .my-assets-card__mark {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        opacity: 0;
        transition: 0.3s;
        padding: 20px;
        box-sizing: border-box;
        &:hover {
            opacity: 1;
        }
        p {
            color: #fff;
            margin-top: 5px;
        }
        .type-box {
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
        }
        .creator-box {
            width: 100%;
            padding: 0 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: absolute;
            bottom: 30px;
            left: 0;
            box-sizing: border-box;
        }
        .publish-to-plaza {
            justify-content: center;
        }
    }
    .el-image-assets {
        height: 200px;
    }
    .el-train-assets {
        height: 200px;
        background-color: #bbb;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .el-train-description {
            margin: 12px 0;
        }
    }
    .el-progress--line {
        width: 80%;
    }
}
</style>
