<template>
    <div style="border: 1px solid #ccc; width: 100%; border-radius: 5px; overflow: hidden">
        <Toolbar :editor="editorRef" :default-config="toolbarConfig" style="border-bottom: 1px solid #ccc" />
        <Editor v-model="valueHtml" :default-config="editorConfig" style="height: 500px; overflow-y: hidden" @on-created="handleCreated" @custom-paste="customPaste" />
    </div>
</template>
<script setup>
import '@wangeditor/editor/dist/css/style.css' // 引入 css
import { onBeforeUnmount, ref, shallowRef, onMounted } from 'vue'
import { Editor, Toolbar } from '@wangeditor/editor-for-vue'
import { fileObsUpload } from '@/api/blueprint/list'
const props = defineProps({
    assetDetail: {
        default: () => {
            return ''
        },
        type: String
    }
})
// 编辑器实例，必须用 shallowRef
const editorRef = shallowRef()
// 内容 HTML
const valueHtml = ref(``)
// 模拟 ajax 异步获取内容
onMounted(() => {
    setTimeout(() => {
        // const toolbar = DomEditor.getToolbar(editorRef.value)
        // const curToolbarConfig = toolbar.getConfig()
        valueHtml.value = props.assetDetail
    }, 500)
})

const toolbarConfig = {
    excludeKeys: ['group-video']
}
const editorConfig = {
    placeholder: '请输入内容...',
    MENU_CONF: {
        uploadImage: {
            server: `${import.meta.env.VITE_BASE_API}/obs/file/obsUpload`,
            fieldName: 'custom-field-name',
            maxFileSize: 4 * 1024 * 1024,
            async customUpload(file, insertFn) {
                // 上传文件回调
                let formData = new FormData()
                formData.append('file', file)
                let res = await fileObsUpload(formData)
                insertFn(res, file.name, res)
            }
        }
    },
    uploadImgShowBase64: true
}
// 组件销毁时，也及时销毁编辑器
onBeforeUnmount(() => {
    const editor = editorRef.value
    if (editor == null) return
    editor.destroy()
})

const handleCreated = (editor) => {
    editorRef.value = editor // 记录 editor 实例，重要！
}
const outputDetailsHtml = () => {
    return valueHtml.value
}

const customPaste = (editor, event, callback) => {
    // 粘贴事件监听
    const html = event.clipboardData.getData('text/html') // 获取粘贴的 html
    let promiseList = []
    let promise = 0
    const newHtmlString = html.replace(/<img [^>]*src=['"]([^'"]+)[^>]*>/gi, function (match, capture) {
        promiseList.push(onPrimaryHandel(capture))
        const srcImgUrl = match.replace(/src="([^"]+)"/g, `src="${promise}"`)
        promise++
        return srcImgUrl
    })
    // Promise.all 处理返回结果
    if (promiseList.length > 0) {
        Promise.all(promiseList).then((values) => {
            let thisReplace = ''
            function recursiveFiltering(index, html) {
                if (index < values.length) {
                    thisReplace = html.replace(`src="${index}"`, `src="${values[index]}"`)
                    return recursiveFiltering(index + 1, thisReplace)
                }
                return thisReplace
            }
            promise = 0
            promiseList = []
            // 自定义插入内容
            editor.dangerouslyInsertHtml(recursiveFiltering(0, newHtmlString))
        })
    } else {
        editor.dangerouslyInsertHtml(html)
    }

    event.preventDefault()
    callback(false)
    // 返回 true ，继续默认的粘贴行为
    // callback(true)
}

function getImageFileFromUrl(url, imageName, callback) {
    // get到文件的blob 进行上传文件
    let blob = null
    let xhr = new XMLHttpRequest()
    xhr.open('GET', url)
    xhr.setRequestHeader('Accept', 'image/png')
    xhr.responseType = 'blob'
    xhr.onload = () => {
        if (xhr.status == 200) {
            blob = xhr.response
            let imgFile = new File([blob], imageName, { type: 'image/png' })
            callback.call(this, imgFile)
        }
    }
    xhr.send()
}
const onPrimaryHandel = (outsideChain) => {
    // 根据外部链接上传到本地OBS
    return new Promise((resolve) => {
        getImageFileFromUrl(outsideChain, 'imageFile.png', async (file) => {
            let formData = new FormData()
            formData.append('file', file)
            let res = await fileObsUpload(formData)
            return resolve(res)
        })
    })
}
defineExpose({
    outputDetailsHtml
})
</script>
