<template>
    <el-upload
        ref="uploadRef"
        v-loading="loading"
        class="avatar-uploader"
        accept=".jpg,.jpeg,.png,.JPG,.JPEG"
        :disabled="props.isDisabled"
        :limit="1"
        :show-file-list="false"
        list-type="picture"
        :http-request="(file) => uploadSectionFile(file)">
        <img v-if="imgUrl" :src="imgUrl" class="avatar" />
        <el-icon v-else class="avatar-uploader-icon"><Plus /></el-icon>
    </el-upload>
</template>

<script setup>
import { ref } from 'vue'
import { ElMessage } from 'element-plus'
import { fileObsUpload } from '@/api/blueprint/list'

// 父级与子级通信
const props = defineProps({
    isDisabled: Boolean,
    imgUrl: {
        type: String,
        default: ''
    }
})
// 子级向父级通信
const emit = defineEmits(['get-image'])

let loading = ref(false)

const uploadRef = ref()

// 图片上传
const uploadSectionFile = async (params) => {
    // FormData 对象
    let file = params.file
    const typeArr = ['image/png', 'image/jpeg', 'image/jpg']
    const isJPG = typeArr.indexOf(file.type) !== -1
    const isLt3M = file.size / 1024 / 1024 < 4
    if (!isJPG) {
        ElMessage.error('请上传图片格式!')
        uploadRef.value.handleRemove(params) // 允许第二次上传，清除上一次上传的file
        return
    }
    if (!isLt3M) {
        ElMessage.error('上传图片大小不能超过 4MB!')
        uploadRef.value.handleRemove(params) // 允许第二次上传，清除上一次上传的file
        return
    }
    loading.value = true // 上传图片时，loading 开启

    let formData = new FormData()
    // 文件对象
    formData.append('file', file)
    // 上传图片
    let res = await fileObsUpload(formData)
    if (res) {
        emit('get-image', res, props.index)
        setTimeout(() => {
            loading.value = false // 上传图片时，loading 关闭
        }, 500)
    } else {
        loading.value = false // 上传图片时，loading 关闭
        ElMessage.error('图片上传失败')
    }
    // 两种方法：handleRemove 或者 clearFiles
    uploadRef.value.handleRemove(params) // 允许第二次上传，清除上一次上传的file
}
</script>

<style scoped>
.avatar-uploader .avatar {
    width: 178px;
    height: 178px;
    display: block;
}
.avatar-uploader .el-upload {
    border: 1px dashed var(--el-border-color);
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: var(--el-transition-duration-fast);
}

.avatar-uploader .el-upload:hover {
    border-color: var(--el-color-primary);
}

.el-icon.avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    text-align: center;
}
</style>
