<template>
    <div class="container">
        <div class="handle-box">
            <div class="mask-container">
                <div id="extend-upload-chooseFile">
                    <i class="el-icon-plus"></i>
                    选择文件
                </div>
                <div v-if="uploadBtnDisabled" class="mask"></div>
            </div>

            <!-- <el-button type="success" :icon="uploadStaus" class="handle-del mr10" @click="uploadToServer()" :disabled="uploadBtnDisabled">开始上传</el-button> -->
            <!-- <el-button type="danger" icon="el-icon-close" class="handle-del mr10" @click="clearFiles()" :disabled="uploadBtnDisabled">清空文件</el-button> -->
        </div>
        <el-table :data="fileListDataArray" style="width: 100%">
            <el-table-column prop="fileName" label="文件名称" align="center" width="180"> </el-table-column>
            <el-table-column prop="fileSize" align="center" label="文件大小" width="180"> </el-table-column>
            <el-table-column prop="progress" align="center" label="进度"> </el-table-column>
            <el-table-column align="center" label="进度条">
                <template #default="scope">
                    <el-progress :text-inside="true" :stroke-width="26" :percentage="scope.row.progressTip" />
                </template>
            </el-table-column>

            <el-table-column label="操作" width="200" align="center">
                <template #default="scope">
                    <el-button type="danger" icon="Delete" class="red" @click="removeRow(scope.$index, scope.row.fileId)">删除</el-button>
                    <!-- <el-button type="text" icon="el-icon-search" class="red" @click="seeFile(scope.$index, scope.row)">查看</el-button> -->
                </template>
            </el-table-column>
        </el-table>
        <div class="showMsg">注: 支持上传的文件后缀：{{ options.fileType }}</div>
    </div>
</template>
<script>
/* eslint-disable */
import { ElMessage } from 'element-plus'

export default {
    name: 'webupload',
    emits: ['return-file', 'assetTypeFun'],
    props: {
        headers: {
            type: String,
            default: ''
        },
        fileNumLimit: {
            type: Number,
            default: 500
        },
        fileSize: {
            type: Number,
            default: 100 * 1024 * 1024 * 1024
        },
        chunkSize: {
            type: Number,
            default: 5 * 1024 * 1024
        },
        uploadSuffixUrl: {
            type: String,
            default: import.meta.env.VITE_BASE_API
        },
        options: {
            type: Object,
            default: {
                //允许上传的文件
                fileType: 'ckpt,pth,safetensors',
                fileUploadUrl: '/bigfile/upload', //上传地址
                fileCheckUrl: '/bigfile/check', //检测文件是否存在url
                checkChunkUrl: '/bigfile/check',
                fileCheckUNameUrl: '/bigfile/name/check', //检测分片url
                mergeChunksUrl: '/bigfile/merge', //合并文件请求地址
                headers: {}
            }
        },
        fileListData: {
            type: Array,
            default: []
        }
    },
    data() {
        return {
            uploader: {},
            uploadBtnDisabled: false,
            uploadStaus: 'el-icon-upload',
            fList: [
                {
                    numbers: 1,
                    fileName: '',
                    fileSize: '120',
                    progress: '20%',
                    progressTip: '20%',
                    oper: ''
                }
            ], //文件集合
            fileListDataArray: [],
            isTrue: false
        }
    },
    watch: {
        'options.fileType': {
            handler(newVal, oldVal) {
                if (oldVal && newVal != oldVal) {
                    this.uploader = {}
                    this.fileListDataArray = []
                    this.uploadBtnDisabled = false
                    this.register()
                    this.createUploader()
                }
            },
            deep: true
        }
    },
    created() {
        this.fileListDataArray = this.fileListData
    },
    mounted() {
        this.register()
        this.createUploader()
    },
    methods: {
        createUploader() {
            let that = this
            let fileType = this.options.fileType
            this.uploader = WebUploader.create({
                pick: {
                    id: '#extend-upload-chooseFile',
                    label: '选择文件',
                    multiple: false, // 关闭多文件上传
                    duplicate: false // 不支持重复文件上传
                },
                duplicate: true, //去重， 根据文件名字、文件大小和最后修改时间来生成hash Key
                swf: '../../scripts/scripts/Uploader.swf',
                chunked: true,
                chunkSize: 10 * 1024 * 1024, // 10M 每个分片的大小限制
                chunkRetry: 3,
                threads: 3,
                server: that.uploadSuffixUrl + this.options.fileUploadUrl,
                auto: true,
                // 禁掉全局的拖拽功能。这样不会出现图片拖进页面的时候，把图片打开。
                disableGlobalDnd: true,
                fileNumLimit: 1, // 只能选择一个文件上传
                fileSizeLimit: 50 * 1024 * 1024 * 1024, //50G 验证文件总大小是否超出限制, 超出则不允许加入队列
                fileSingleSizeLimit: 10 * 1024 * 1024 * 1024, //10G 验证单个文件大小是否超出限制, 超出则不允许加入队列
                accept: [
                    {
                        title: 'file',
                        extensions: fileType,
                        mimeTypes: this.buildFileType(fileType)
                    }
                ]
            })
            //当文件添加进去
            that.uploader.on('fileQueued', function (file) {
                // console.log(file)
                // let fileSize = that.formatFileSize(file.size)
                // let row = { fileId: file.id, fileName: file.name, fileSize: fileSize, validateMd5: '0%', progress: '等待上传', state: '就绪' }
                // console.log('this.fileListDataArray:', that.fileListDataArray)
                // that.fileListDataArray.push(row)
                // that.uploadBtnDisabled = true
                // that.$emit('assetTypeFun', true)
            })

            //监听进度条,更新进度条信息
            that.uploader.on('uploadProgress', function (file, percentage) {
                // console.log('percentage', percentage)
                if (percentage === 1) {
                    that.setTableBtn(file.id, '正在合并文件，请稍等')
                } else {
                    that.setTableBtn(file.id, Number((percentage * 100).toFixed(2)))
                }
            })

            /**上传之前**/
            that.uploader.on('uploadBeforeSend', function (block, data, headers) {
                let file = block.file
                data.md5 = file.md5 || ''
                data.uid = file.uid
            })

            /**上传失败**/
            that.uploader.on('uploadError', function (file, reason) {
                // console.log('上传失败', reason)
            })

            //错误信息监听
            that.uploader.on('error', function (handler) {
                if (handler == 'F_EXCEED_SIZE') {
                    ElMessage({
                        message: '上传的单个太大!\n最大支持' + that.formatFileSize(that.fileSize) + '! 操作无法进行,如有需求请联系管理员',
                        type: 'error'
                    })
                } else if (handler == 'Q_TYPE_DENIED') {
                    ElMessage({
                        message: '不允许上传此类文件!。操作无法进行,如有需求请联系管理员',
                        type: 'error'
                    })
                } else if (handler == 'Q_EXCEED_NUM_LIMIT') {
                    ElMessage({
                        message: '只能上传一个文件',
                        type: 'error'
                    })
                } else if (handler == 'Q_EXCEED_SIZE_LIMIT') {
                    ElMessage({
                        message: '上传的总文件太大',
                        type: 'error'
                    })
                } else {
                    ElMessage({
                        message: '上传文件错误, 请联系管理员',
                        type: 'error'
                    })
                }

                that.uploadBtnDisabled = false
                that.$emit('assetTypeFun', false)
            })
            // 接收服务器返回数据
            that.uploader.on('uploadAccept', function (fileInfo, response) {
                console.log('response', response)
                if (!response.success) {
                    // 通过return false来告诉组件，此文件上传有错。
                    that.errorTip(response, fileInfo.file)
                    return false
                }
            })
            //当文件上传成功时触发。file {ArchivesFile} File对象, response {Object}服务端返回的数据
            that.uploader.on('uploadSuccess', function (file, response) {
                if (response && response.success) {
                    that.setTableBtn(file.id, '文件上传成功')
                    that.$emit('assetTypeFun', false)
                }
            })

            // /**从文件队列移除**/
            that.uploader.on('fileDequeued', function (file) {
                // delete percentages[ file.id ];
            })

            //所有文件上传成功后
            // that.uploader.on('uploadFinished', function () {
            // })
        },
        register() {
            // 卸载 WebUploader
            WebUploader.Uploader.unRegister('contractUpload')
            //注册函数
            let that = this
            //监控文件上传的三个时间点(注意：该段代码必须放在WebUploader.create之前)
            //时间点1：:所有分块进行上传之前（1.可以计算文件的唯一标记;2.可以判断是否秒传）
            //时间点2： 如果分块上传，每个分块上传之前（1.询问后台该分块是否已经保存成功，用于断点续传）
            //时间点3：所有分块上传成功之后（1.通知后台进行分块文件的合并工作）
            if (that.isTrue) return
            WebUploader.Uploader.register(
                {
                    name: 'contractUpload',
                    'before-send-file': 'beforeSendFile',
                    'before-send': 'beforeSend',
                    'after-send-file': 'afterSendFile'
                },
                {
                    //时间点1：:所有分块进行上传之前调用此函数
                    beforeSendFile: function (file) {
                        //创建一个deffered
                        console.log('beforeSendFile')
                        // 防止多次触发
                        that.isTrue = true
                        let deferred = WebUploader.Deferred()
                        //1.计算文件的唯一标记，用于断点续传和秒传,获取文件前20m的md5值，越小越快，防止碰撞，把文件名文件大小和md5拼接作为文件唯一标识
                        that.uploader
                            .md5File(file, 0, 10 * 1024 * 1024)
                            .progress(function (percentage) {
                                // console.log('上传进度:', percentage)
                            })
                            .then(function (val) {
                                file.md5 = val
                                file.uid = WebUploader.Base.guid()
                                //2.请求后台是否保存过该文件，如果存在，则跳过该文件，实现秒传功能
                                that.beforFileCheck(val, file, deferred)
                            })
                        //返回deffered
                        return deferred.promise()
                    },
                    //时间点2：如果有分块上传，则 每个分块上传之前调用此函数
                    //block:代表当前分块对象
                    beforeSend: function (block) {
                        console.log('beforeSend')
                        //向后台发送当前文件的唯一标记，用于后台创建保存分块文件的目录
                        //1.请求后台是否保存过当前分块，如果存在，则跳过该分块文件，实现断点续传功能
                        //获取已经上传过的下标
                        let indexchunk = block.file.indexcode
                        let deferred = WebUploader.Deferred()
                        if (indexchunk > 0) {
                            if (block.chunk > indexchunk) {
                                //分块不存在，重新发送该分块内容
                                deferred.resolve()
                            } else {
                                //分块存在，跳过
                                deferred.reject()
                            }
                        } else {
                            //分块不存在，重新发送该分块内容
                            deferred.resolve()
                        }
                        //返回Deferred的Promise对象。
                        return deferred.promise()
                    },
                    //时间点3：所有分块上传成功之后调用此函数
                    afterSendFile: function (file) {
                        //前台通知后台合并文件
                        //1.如果分块上传，则通过后台合并所有分块文件
                        //请求后台合并文件
                        console.log('afterSendFile')
                        $.ajax({
                            type: 'POST',
                            url: that.uploadSuffixUrl + that.options.mergeChunksUrl,
                            headers: that.options.headers,
                            data: JSON.stringify({
                                fileName: file.name,
                                fileMd5: file.md5
                            }),
                            dataType: 'json',
                            success: function (response) {
                                if (response.success) {
                                    let data = response.model
                                    that.$emit('return-file', data)
                                    that.$emit('assetTypeFun', false)
                                    that.uploader.skipFile(file)
                                    that.setTableBtn(file.id, '上传成功')
                                    that.fList.push(data)
                                } else {
                                    that.errorTip(response, file)
                                }
                            },
                            error: function () {
                                that.isTrue = false
                                ElMessage({
                                    message: '上传失败, 请删除后重新上传',
                                    type: 'error'
                                })
                            }
                        })
                    }
                }
            )
        },
        setTableBtn(fileId, showmsg, networkPath) {
            let fileList = this.fileListDataArray
            for (let i = 0; i < fileList.length; i++) {
                if (fileList[i].fileId == fileId) {
                    if (typeof showmsg == 'number') {
                        this.fileListDataArray[i].progress = showmsg + '%'
                        this.fileListDataArray[i].progressTip = showmsg
                    } else {
                        this.fileListDataArray[i].progress = showmsg
                        this.fileListDataArray[i].progressTip = showmsg == '上传失败, 请删除后重新上传' ? 0 : 100
                    }
                    this.fileListDataArray[i].networkPath = networkPath || ''
                }
            }
        },
        // 添加文件
        addFile(file) {
            let that = this
            let fileSize = that.formatFileSize(file.size)
            let row = { fileId: file.id, fileName: file.name, fileSize: fileSize, validateMd5: '0%', progress: '等待上传', state: '就绪' }
            that.fileListDataArray.push(row)
            that.uploadBtnDisabled = true
            that.$emit('assetTypeFun', true)
        },
        // 删除文件
        removeRow(index, fileId) {
            let that = this
            that.uploader.removeFile(fileId)
            that.fileListDataArray.splice(index, 1)
            that.uploadBtnDisabled = false
            that.$emit('assetTypeFun', false)
        },
        // 上传前, 文件校验
        beforFileCheck(val, file, deferred) {
            let that = this
            $.ajax({
                type: 'POST',
                url: that.uploadSuffixUrl + that.options.fileCheckUrl,
                headers: that.options.headers,
                async: true,
                data: JSON.stringify({
                    fileMd5: val,
                    fileName: file.name
                }),
                dataType: 'json',
                success: function (response) {
                    if (response.success) {
                        if (response.model.resultCode == -1) {
                            //如果存在，则跳过该文件，秒传成功
                            that.addFile(file)
                            that.uploader.skipFile(file)
                            that.setTableBtn(file.id, '文件秒传')
                            // 父级通信
                            that.$emit('return-file', response.model.url)
                            that.$emit('assetTypeFun', false)
                            ElMessage({
                                message: `[ ${file.name} ]文件秒传`,
                                type: 'success'
                            })
                            deferred.reject()
                        } else {
                            //文件没有上传过，下标为0
                            //文件上传中断过，返回当前已经上传到的下标
                            file.indexcode = response.model.resultCode
                            that.addFile(file)
                            deferred.resolve()
                        }
                    } else {
                        ElMessage({
                            message: response.errorTips,
                            type: 'error'
                        })
                        that.uploader.removeFile(file.id) // 删除已经存在的文件
                        deferred.reject()
                    }
                    that.isTrue = false
                },
                error: function (error) {
                    that.isTrue = false
                    ElMessage({
                        message: '上传失败, 请删除后重新上传',
                        type: 'error'
                    })
                    that.uploader.removeFile(file.id) // 删除已经存在的文件
                    deferred.reject()
                }
            })
        },
        seeFile(index, row) {
            let npath = row.networkPath
            if (this.strIsNull(npath)) {
                this.$message.error({
                    showClose: true,
                    message: '文件未上传，请等待文件上传完成后，方可查看'
                })
                return
            }
            let filens = npath.substring(npath.lastIndexOf('.') + 1)
            if (filens == 'png' || filens == 'jpg' || filens == 'jpeg' || filens == 'gif') {
                //图片，在当前窗口查看
                this.$message.success({
                    dangerouslyUseHTMLString: true,
                    showClose: true,
                    message: `<img src="${this.uploadSuffixUrl + npath}" style="max-width: 80%;max-height: 80%;"/>`
                })
            } else {
                window.open(this.uploadSuffixUrl + npath)
            }
        },
        // 错误提示
        errorTip(response, file) {
            let that = this
            ElMessage({
                message: response.errorTips,
                type: 'error',
                onClose: () => {
                    that.setTableBtn(file.id, '上传失败, 请删除后重新上传')
                }
            })
        },
        uploadToServer() {
            if (this.fileListDataArray.length <= 0) {
                ElMessage({
                    message: `没有上传的文件`,
                    type: 'error'
                })
                return
            }
            this.uploadBtnDisabled = true
            this.uploadStaus = 'el-icon-loading'
            this.uploader.upload()
        },
        clearFiles() {
            let that = this
            that.uploadBtnDisabled = false
            that.uploadStaus = 'el-icon-upload'
            that.uploader.reset()
            that.fileListDataArray = []
        },
        beginUploadFile(index, row) {
            this.uploadBtnDisabled = false
            this.uploadStaus = 'el-icon-upload'
            this.uploader.upload()
        },
        stopUploadFile(index, row) {
            this.uploadBtnDisabled = false
            this.uploadStaus = 'el-icon-upload'
            this.uploader.stop()
        },
        buildFileType(fileType) {
            let ts = fileType.split(',')
            let ty = ''

            for (let i = 0; i < ts.length; i++) {
                ty = ty + '.' + ts[i] + ','
            }
            return ty.substring(0, ty.length - 1)
        },
        strIsNull(str) {
            if (typeof str == 'undefined' || str == null || str == '') return true
            else return false
        },
        formatFileSize(size) {
            let fileSize = 0
            if (size / 1024 > 1024) {
                let len = size / 1024 / 1024
                fileSize = len.toFixed(2) + 'MB'
            } else if (size / 1024 / 1024 > 1024) {
                let len = size / 1024 / 1024
                fileSize = len.toFixed(2) + 'GB'
            } else {
                let len = size / 1024
                fileSize = len.toFixed(2) + 'KB'
            }
            return fileSize
        }
    }
}
</script>
<style scoped>
.container {
    padding: 30px;
    box-sizing: border-box;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
}
.handle-box {
    margin-bottom: 20px;
}

#picker div:nth-child(2) {
    width: 100% !important;
    height: 100% !important;
}
.WebUploader-container {
    position: relative;
}
.WebUploader-element-invisible {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}
.WebUploader-pick {
    position: relative;
    display: inline-block;
    cursor: pointer;
    background: #409eff;
    padding: 8px 12px;
    color: #fff;
    font-size: 10px;
    text-align: center;
    border-radius: 3px;
    overflow: hidden;
}
.WebUploader-pick-hover {
    background: #409eff;
}

.showMsg {
    margin-top: 5px;
    color: red;
}
.mask-container {
    position: relative;
}
.mask {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #00000038;
    width: 86px;
    height: 51px;
}
</style>
